/*font*/
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Fasthand&family=Fraunces:ital,wght@1,700&family=Montserrat:wght@500;700&family=Oswald:wght@300;600&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,400;0,600;1,700&family=Rubik:ital,wght@1,400;1,500;1,700&display=swap');

/* Los nombres de las fonts importadas */
/* font-family: 'Agdasima', sans-serif;
font-family: 'Fasthand', cursive;-carta
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;  */
:root {
    color-scheme: light dark;
    --font-agdasima: 'Agdasima';
    --font-montserrat: 'Montserrat';
    --font-fasthand: 'Fasthand', cursive;
    --font-rubik: "Rubik";
    --font-oswald: "Oswald";
    --font-poppins: "Poppins";
    --font-fraunces: "Fraunces";
}

/*general*/
*,
::after,
::before {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    user-select: none;
}
.active{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    width: 375px;
    background-color: white;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & section{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 20px;
        & article{
            display: none;
            width: 300px;
            height: 300px;
            border-radius: 10px;
        }
    }
    & .actionHtml{
        display: flex;
        gap: 10px;
        font-size: 25px;
        align-items: center;
        & button{
            border: none;
            width: 30px;
            height:30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            background-color: white;
            border-radius: 50%;
            & iconify-icon{
                font-size: 1.5rem;
            }
            &:hover{
                background-color: blueviolet;
                color: white;
            }
        }
    }
}
#days-number{
    color: rgb(84, 19, 146);
    font-weight: bolder;
}
/* fin generales */

/*Day 3 animation*/
@keyframes hidden {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.hidden{
    animation: hidden 3.5s linear infinite;
}
.shadow{
    animation: shadow 3.5s linear infinite;
}
@keyframes shadow {
    0%{
        clip-path: polygon(15% 0, 100% 20%, 85% 0);
    }
    20%{
        clip-path: polygon(15% 0, 97% 43%, 85% 0);
    }
    40%{
        clip-path: polygon(15% 0, 86% 38%, 85% 0);
    }
    60%{
        clip-path: polygon(15% 0, 24% 27%, 85% 0);
    }
    80%{
        clip-path: polygon(15% 0, 0 50%, 85% 0);
    }
    100%{
        clip-path: polygon(15% 0, 0 6%, 85% 0);
    }
}
.side1{
    animation: side1 3.5s linear infinite;
}
@keyframes side1{
    0%{
        background-color: #c3c1c3;
    }
    30%{
        background-color: #dadada;
    }
    70%{
        background-color: #dadada;
    }
    100%{
        background-color: #919191;
    }
}
.side2{
    animation: side2 3.5s linear infinite;
}
@keyframes side2{
    0%{
        background-color: #919191;
    }
    30%{
        background-color: #c3c1c3;
    }
    70%{
        background-color: #c3c1c3;
    }
    100%{
        background-color: #e0e0e0;
    }
}
.eco{
    animation: eco 3.5s linear infinite;
}
@keyframes eco {
    0%{
        transform: rotateZ(0deg);
    }
    36%{
        transform: rotateZ(30deg);
    }
    45%{
        transform: rotateZ(30deg);
    }
    100%{
        transform: rotate(90deg);
    }
}
/* fn animation day 3 */

/* Day 4 animation */

@keyframes firstCircle{
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(1);
    }
    40%{
        transform: scale(1);
    }
    60%{transform: scale(1);
    }
    80%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
    
}
@keyframes secondCircle{
    0%{
        transform: scale(0);
    }
    15%{
        transform: scale(0);
    }
    30%{
        transform: scale(1);
    }
    60%{
        transform: scale(1);
    }
    85%{
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}
@keyframes treeCircle {
    0%{
        transform: scale(0);
    }
    30%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
    55%{
        transform: scale(1);
    }
    70%{
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}
.first-circle{
    animation: firstCircle 4s ease infinite;
}
.second-circle{
    animation: secondCircle 4s ease infinite;
}
.tree-circle{
    animation: treeCircle 4s ease infinite;
}
/* fin animation day 4 */


/* Day 7 */
.hover-bg{
    background-color: #264056;
    color: #fff;
}

/* Day 8 */
@keyframes rotate {
	0% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
	100% {
		transform: rotate(360deg) translate3d(0, 0, 0);
    }
}
.rotate360{
    animation: rotate ease-in-out infinite;
    
}


/* Day 9 */

.dropAnimation{
    -webkit-animation: drop2  linear infinite;
    animation: drop2  linear  infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transform-origin: 50% 100%;
}



@keyframes drop2 {
	0% {
		transform: translate3d(40px,-320px,0) scaleX(1) scaleY(1) rotate(17deg);
	}
	85% {
		transform: translate3d(0,0,0) scaleX(1) scaleY(1) rotate(17deg);
	}
	100% {
		transform: translate3d(0,0,0) scaleX(3) scaleY(0) rotate(0deg);
	}
}

/* Day 10 */
@keyframes reloj {
    100%{
        stroke-dashoffset: 0%;
    }
}
.relojAnimation{
    animation: reloj 2s linear infinite;
}
@keyframes likeReloj {
    100%{
        transform: scale(0.8);
    }
}
.likeReloj{
    animation: likeReloj 1s ease-in-out infinite;
}

/* Day 11 */
.footer{
	width: 100%;
    height: 20%;
    z-index: 10;
    bottom: 0px;
    position: absolute;
	background: #232323;
}

.boots{
	position: absolute;
	top: 0px;
	left: 100px;
	width: 151px;
	height: 245px;
	transform-origin: 50% 0;
}

.shoe {
	position: absolute;
	width: 150px;
	height: 128px;
	left: 0;
	bottom: 0;
	background: url('https://100dayscss.com/codepen/doc-martens.svg') center center no-repeat;
	transform-origin: 0 95%;
}
.left {
	animation: leg-swing 2s ease-in-out infinite;
	
	.shoe {
		animation: shoe-turn 2s ease-in-out infinite;
	}
}
.right {
	animation: leg-swing 2s ease-in-out 1s infinite;
	
	.shoe {
		animation: shoe-turn 2s ease-in-out 1s infinite;
	}
}

@keyframes leg-swing {
	0%, 100% {
		transform: rotate(-22deg);
	}
	50% {
		transform: rotate(40deg);
	}
}
@keyframes shoe-turn {
	0%, 100% {
		transform: rotate(-20deg) translateY(-5px) translateX(10px);
	}
	25% {
		transform: rotate(0deg) translateY(0px) translateX(0);
	}
	50% {
		transform: rotate(10deg) translateY(-10px) translateX(10px);
	}
	75% {
		transform: rotate(0deg) translateY(-30px) translateX(0);
	}
}

/* Day 12 */
.days-12{
    background-color: #4cb6d3;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    && .content-text{
        color: #fff;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 90%;
        && .paragraph{
            font-size: 18px;
            padding: 9px;
            line-height: 25px;
            && .obsession{
                background-color: #264056;
                padding: 4px;
                height: 24px;
            }
        }
        && .author{
            font-style: italic;
            margin-top: 5px;
        }
        && .icon{
            position: absolute;
            top: 10px;
            color: #ffffff4d;
            font-size: 4rem;
            left: -8px;
        }
    }
}
#floatingW{
    display: flex;
    flex-direction: column;
    width: 240px;
    position: absolute;
    transform: translateY(-180px);
    opacity: 0;
    transition: all 0.8s ease-in-out;
    && .floating-head{
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: #fff;
        color: #264056;
        padding: 2px;
        && p{
            transform: rotate(180deg);
        }
    }
    && .floating-body{
        background-color: #264056;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 20px;
    }
}
#floatingW::before{
    content: "";
    position: absolute;
    border: solid;
    border-width: 10px;
    border-color: #264056 transparent transparent transparent;
    bottom: -20px;
    left: calc(50% - 20px);
}

/* Day 13 */
.days-13{
    background-color: #ffff;
    overflow: hidden;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    && .profile-container{
        width: 100%;
        height: 100%;
        display:grid;
        grid-template-columns: 1fr 150px;
        gap: 2px;
        && div.profile-1{
            background-image: url("https://100dayscss.com/codepen/13-1.jpg");
            background-position: center;
            background-size: cover;
        }
        && div.profile-2{
            background-image: url("https://100dayscss.com/codepen/13-2.jpg");
            background-position: center;
            background-size: cover;
        }
        && div.profile-3{
            background-image: url("https://100dayscss.com/codepen/13-3.jpg");
            background-position: center;
            background-size: cover;
        }
        && div.profile-4{
            background-image: url("https://100dayscss.com/codepen/13-4.jpg");
            background-position: center;
            background-size: cover;
        }
    }
}
#head-profile{
    background-image: url("https://100dayscss.com/codepen/13-1-header.jpg");
    background-size: cover;
    background-position: center;
}
.circle-profile{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Day 14 */
.days-14{
    background-color: #4b4841;
    perspective: 1000px;
    && .content-animation{
        background-color: #ffce43;
        width: 90%;
        height: 50%;
        box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 1s ease-in-out;
        && .bicycle-helicopter{
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateX(25%);
            transform-style: preserve-3d;
            && .bicycle, .helicopter{
                position: absolute;
                font-size: 8rem;
                width: 100%;
                height: 100%;
                color: #4b4841;
                backface-visibility: hidden;
                && iconify-icon{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }
            }
            && .helicopter{
                transform: rotateX(180deg);
            }
        }
    }
}
.days-14 .content-animation:hover{
    transform: rotateX(-180deg);
}
.appendBC{
    animation: bicycleMove linear infinite ;
}
.bicycle{
    animation: bicycleScale 2s linear infinite;
}
/* bicycle */
@keyframes bicycleMove {
    0%{
        transform: translateX(0px) translateY(0px);
    }
    100%{
        transform: translateX(0px) translateY(170px);
    }
}
@keyframes bicycleScale {
    0%{
        transform: scaleY(1);
    }
    25%{
        transform: scaleY(1.1);
    }
    50%{
        transform: scaleY(1);
    }
    75%{
        transform: scaleY(1.1);
    }
    100%{
        transform: scaleY(1);
    }
}
/* helicopter */
.appendAir{
    animation: airMove linear infinite;
}
.helicopter iconify-icon{
    animation: helicopterMove 2s linear infinite;
}
@keyframes airMove {
    0%{
        transform: translateX(220px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes helicopterMove{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* Day 15 */
.days-15{
    background: linear-gradient(to top right, #3a92af 0%, #5ca05a 100%);
    && .form{
        width: 80%;
        height: 70%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        && .head-form{
            padding: 10px;
            color: #919191;
            font-size: 20px;
            border-bottom: solid 1px #e4e3e3;
            width: 100%;
            text-align: center;
        }
        && .body-form{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: center;
            position: relative;
            && .icon{
                border: dashed 1px #a3a2a0;
                width: 110px;
                border-radius: 3px;
                text-align: center;
                height: 68px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                color: #a3a2a0;
                && iconify-icon{
                    font-size: 40px;
                    padding: 10px;
                    color: #b1adad;
                }
                && input[type="file"]{
                    display: none;
                }
                && #contentFile{
                    color: #a3a2a0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                }
                
            }
            && .content-iconify{
                display: none;
                flex-direction: column;
                position: relative;
                background-color: white;
                align-items: center;
                justify-content: center;
                animation: rotateFile 3s ease-in-out forwards;
                border-radius: 50%;
                && iconify-icon{
                    font-size: 3rem;
                    display: none;
                }
            }
            && .action-form{
                background-color: #63ce38;
                width: 130px;
                margin-top: 10px;
                display: flex;
                justify-content: center;
                border-radius: 4px;
                box-shadow: 0px 2px 0px 0px #498c25;
                transition: box-shadow 0.2s ease-in-out;
                && button[type="button"]{
                    width: 100%;
                    padding: 10px;
                    background-color: transparent;
                    color: white;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}
   

@keyframes rotateFile{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* Day 16 */
.days-16{
    background-color: #46a6da;
    overflow: hidden;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    && .content-clippy{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        && .triangulo-clippy{
            width: 100px;
            height: 100px;
            background-color:white;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            position: absolute;
            animation: days16-triangulo 5s ease-in-out infinite;
        }
        && .triangulo-exter{
            width: 200px;
            height: 200px;
            position: absolute;
            && .exter{
                position: absolute;
                width: 4px;
                height: 200px;
                left: 100px;
                &::after, &::before{
                    content: "";
                    width: 4px;
                    height: 25px;
                    background-color: #fff;
                    position: absolute;
                    border-radius: 2px;
                    animation: triangulo-exter 5s ease-in-out infinite;
                }
            }
            && .t1{
                top: 0px;
            }
            && .t2{
                transform: rotate(124deg);
                bottom: -15px;
            }
            && .t3{
                transform: rotate(237deg);
                bottom: -15px;
            }
        }
        && .heptagono-clippy{
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            width: 100px;
            height: 100px;
            background-color: white;
            position: absolute;
            animation: days16-heptagono 5s linear infinite;
        }
        && .heptagono-exter{
            width: 200px;
            height: 200px;
            position: absolute;
            && .exter{
                position: absolute;
                width: 4px;
                height: 200px;
                left: 100px;
                top: 0px;
                &::before, &::after{
                    content: "";
                    position: absolute;
                    width: 4px;
                    height: 18px;
                    background-color: #fff;
                    border-radius: 4px;
                    animation: heptagono-exter 5s ease-in-out infinite;
                }
                &::after{
                    bottom: 0;
                }
            }
            && .h2{
                transform: rotate(45deg);
            }
            && .h3{
                transform: rotate(90deg);
            }
            && .h4{
                transform: rotate(135deg);
            }
        }
        && .circle-clippy{
            clip-path: circle(50% at 50% 50%);
            width: 100px;
            height: 100px;
            background-color: white;
            position: absolute;
            animation: days16 5s ease-in-out infinite;
            border-radius: 50%;
        }
        && .circle-exter{
            position: absolute;
            width: 120px;
            height: 120px;
            border: solid 3px #fff;
            border-radius: 50%;
            animation: circle-exter 5s ease-in-out infinite;
        }
    }
}    
@keyframes days16 {
    0%{
        transform: translate3d(0, -300px, 0) scaleY(1.2);
    }
    10%{
        transform: translate3d(0, 50px, 0) scaleY(0.8);
    }
    14%{
        transform: translate3d(0, -30px, 0) scaleY(1.1);
    }
    18%{
        transform: translate3d(0, 10px, 0) scaleY(0.9);
    }
    20%, 22%{
        transform: translate3d(0, 0, 0) scaleY(1);
    }
    26%{
        transform: translate3d(0, 0, 0) scale(1.2);
    }
    32%, 74%{
        transform: translate3d(0, 0, 0) scale(0);
    }
    80%{
        transform: translate3d(0, 0, 0) scale(1.2);
    }
    84%{
        transform: translate3d(0, 0, 0) scale(0.9);
    }
    86%, 88%{
        transform: translate3d(0, 0, 0) scale(1);
    }
    92%{
        transform: translate3d(0, -30px, 0) scale(0.9);
    }
    100%{
        transform: translate3d(0, 300px, 0) scale(1.2);
    }
}

@keyframes circle-exter {
	0%, 74% {
		transform: translate3d(0,0,0) scale(0);
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	84%, 100% {
		transform: translate3d(0,0,0) scale(1.4);
		opacity: 0;
	}
}
@keyframes days16-triangulo{
    0%, 52% {
		transform: translate3d(0,0,0) scale(0) ;
	}
	56% {
		transform: translate3d(0,0,0) scale(1.2);
	}
	60% {
		transform: translate3d(0,0,0) scale(0.9);
	}
	62%, 64% {
		transform: translate3d(0,0,0) scale(1);
	}
	70% {
		transform: translate3d(0,0,0) scale(1.2);
	}
	76%, 100% {
		transform: translate3d(0,0,0) scale(0);
	}
}
@keyframes triangulo-exter {
	0%, 52% {
		transform: translate3d(0,0,0) scale(0);
		opacity: 1;
	}
	58% {
		opacity: 1;
	}
	62%, 100% {
		transform: translate3d(0,0,0) scale(1.4);
		opacity: 0;
	}
}
@keyframes days16-heptagono{
    0%, 30%{
        transform: translate3d(0, 0, 0) scale(0) rotate(22.5deg);
    }
    36%{
        transform: translate3d(0, 0, 0) scale(1.2) rotate(22.5deg);
    }
    40%{
        transform: translate3d(0, 0, 0) scale(0.9) rotate(22.5deg);
    }
    42%, 44%{
        transform: translate3d(0, 0, 0) scale(1) rotate(22.5deg);
    }
    48%{
        transform: translate3d(0, 0, 0) scale(1.2) rotate(22.5deg);
    }
    54%, 100%{
        transform: translate3d(0, 0, 0) scale(0) rotate(22.5deg);
    }
}
@keyframes heptagono-exter {
	0%, 30% {
		transform: translate3d(0,0,0) scale(0);
		opacity: 1;
	}
	36% {
		opacity: 1;
	}
	40%, 100% {
		transform: translate3d(0,0,0) scale(1.4);
		opacity: 0;
	}
}

/* Days 17 */

.days-17{
    overflow: hidden;
    position: relative;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
        && .content-logo{
            position: absolute;
            background: repeating-linear-gradient(
                to right, 
                #000,
                #000 2px,
                #fff 1px,
                #fff 20px
            );
            width: 100vw;
            height: 100vh;
            transform: rotate(-45deg);
                
        }
        && #centerlogo{
            width: 200px;
            height: 200px;
            background-color: #474747;
            position: absolute;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
                && .logo{
                    position: absolute;
                    width: 160px;
                    height: 140px;
                    top: 25px;
                    left: 25px;
                    .light{
                        fill: #eee;
                        transition: all 0.5s ease-in-out;
                    }
                    .middle{
                        fill: #ccc;
                        transition: all 0.5s ease-in-out;
                    }
                    .dark{
                        fill: #aaa;
                        transition: all 0.5s ease-in-out;
                    }
                    &:hover{
                        .light{
                            fill: #aaa;
                        }
                        .middle{
                            fill: #eee;
                        }
                        .dark{
                            fill: #ccc
                        }
                    }
                }
        }

}
