/*font*/
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Fasthand&family=Fraunces:ital,wght@1,700&family=Montserrat:wght@500;700&family=Oswald:wght@300;600&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,400;0,600;1,700&family=Rubik:ital,wght@1,400;1,500;1,700&display=swap');

/* Los nombres de las fonts importadas */
/* font-family: 'Agdasima', sans-serif;
font-family: 'Fasthand', cursive;-carta
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;  */
:root {
    color-scheme: light dark;
    --font-agdasima: 'Agdasima';
    --font-montserrat: 'Montserrat';
    --font-fasthand: 'Fasthand', cursive;
    --font-rubik: "Rubik";
    --font-oswald: "Oswald";
    --font-poppins: "Poppins";
    --font-fraunces: "Fraunces";
}

/*general*/
*,
::after,
::before {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    user-select: none;
}
.active{
    display: block;
}
body{
    width: 375px;
    background-color: white;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;

}
section article{
    display: none;
    width: 300px;
    height: 300px;
    background-color: aqua;
    border-radius: 10px;
}
.action{
    display: flex;
    gap: 10px;
    font-size: 25px;
    align-items: center;
}
#days-number{
    color: rgb(84, 19, 146);
    font-weight: bolder;
}
.action button{
    border: none;
    width: 30px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    & iconify-icon{
        font-size: 1.5rem;
    }
    &:hover{
        background-color: blueviolet;
        color: white;
    }
}