@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
*, ::after, ::before{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --font-h1:"Fraunces", sans-serif;
    --font-general:"Montserrat", sans-serif;
    --color-p:hsl(228, 12%, 48%);
    --background-button:hsl(158, 36%, 37%);
}
body{
    background-color: hsl(30, 38%, 92%);
    font-family: var(--font-general);
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 100vh;
}
main{
    flex: 1;
    width: 100%;
}
main .cart-container{
    width: 300px;
    margin: 40px auto;
    background-color: #ffff;
    border-radius: 10px;
    overflow: hidden;
}
main .cart-container .photos img{
    width: 100%;
}
main .cart-container .photos img.desktop{
    display: none;
}
main .cart-container .text-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main .cart-container .text-container p, h4{
    color: var(--color-p);
    font-weight: lighter;
}
main .cart-container .text-container h1{
    font-family: var(--font-h1);
}
main .cart-container .text-container .price{
    display: flex;
    gap: 40px;
    align-items: center;
}
main .cart-container .text-container .price .actual{
    font-size: 2rem;
    color: var(--background-button);
    font-weight: bold;
    font-family: var(--font-h1);
}
main .cart-container .text-container .price .des{
    text-decoration: line-through;
    font-size: 1.1rem;
}
main .cart-container .text-container .price .action{
    width: 100%;
}
main .cart-container .text-container .action button{
    background-color: var(--background-button);
    border: none;
    color: #ffff;
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
}

@media (min-width: 500px) {
    body{
        width: 100%;
    }
    main{
        width: 100%;
    }
    main .cart-container{
        display: flex;
        width: 90%;
        margin:200px auto;
        min-height: 400px;
        max-width: 765px;
    }
    main .cart-container .photos img.desktop{
        display: block;
        height: 100%;
    }
    main .cart-container .photos img.mobile{
        display: none;
    }
    main .cart-container .text-container{
        width: 100%;
    }
}
@media (min-width: 669px) {
    main .cart-container .text-container{
        gap: 35px;
        padding: 50px;
    }
}
@media (min-width: 775px) {
    main .cart-container .text-container{
        gap: 35px;
        /* min-height: 470.64px; */
        padding: 50px;
    }
}