/*bootstrap*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/*font*/
@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Mynerve&family=Outfit:wght@400;700&family=Pacifico&family=Shantell+Sans:wght@300&family=Smokum&family=Zeyada&display=swap");

/*generales*/
:root {
    --font-primary: Outfit;
    --font-secondary: Smokum;
    --font-mechanical: Gajraj one;
    --font-letter1: Pacifico;
    --font-letter2: Shantell Sans;
    --border-color: #558bff;
    --width1: 200px;
    --size1: 75px;
    --width2: 400px;
    --size2: 14px;
    /*alérgenos*/
    --leche:rgba(255, 192, 203, 0.746);
    --cacahuetes:rgba(255, 255, 0, 0.704);
    --huevo:rgba(255, 166, 0, 0.711);
    --mostaza:rgba(238, 238, 0, 0.701);
    --frutos-secos:rgba(165, 42, 42, 0.683);
    --gluten: rgba(0, 128, 0, 0.5);
}
.a-leche{
    color: var(--leche);
    text-shadow: -2px 5px 4px black;
}
.a-cacahuete{
    color: var(--cacahuetes);
    text-shadow: -2px 5px 4px black;
}
.a-huevo{
    color: var(--huevo);
    text-shadow: -2px 5px 4px black;
}
.a-mostaza{
    color:var(--mostaza);
    text-shadow: -2px 5px 4px black;
}
.a-f-s{
    color:var(--frutos-secos);
    text-shadow: -2px 5px 4px black;
}
.a-gluten{
    color: var(--gluten);
    text-shadow: -2px 5px 4px black;
}
*,
::after,
::before {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    user-select: none;
}

.collapse {
    display: none;
}

img {
    width:100%;
    height: 100%;
    margin: -25px 0px;
}
.height-img-templade{
    margin: -10px 0px;
}
body {
    width: 390px;
    height: 844px;
    background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
}

main {
    background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: 10px;
}

footer {
    background-image: url(img-svg/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    text-align: center;
    font-family: var(--font-letter2);
}

nav {
    display: flex;
    background: linear-gradient(to top, red 0%, blue 50%, yellow 100%);
    align-items: center;
    justify-content: space-between;
    color: white;
}

nav h1 {
    text-align: center;
    display: flex;
    position: relative;
    top: 12px;
}

nav ul {
    list-style: none;
    display: block;
    padding: 10px 10px 0px 0px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: var(--font-secondary);
    font-weight: bolder;
    text-shadow: 0px 0px 10px white;
}

.hero {
    background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    text-align: center;
    background-image: url(imagen/imagen-bar/empanadas_colombianas-e544489a-ea05-41d7-872d-668ee0820cd0.jpg);
    background-size: cover;
    background-position: center;
    font-family: var(--font-letter1);
    text-shadow: 0 0 10px white;
    height: 250px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}

nav h1 .letter-spacing {
    padding-right: 10px;
}

.letter-spacing {
    margin-right: 10px;
}

.s1,
.s2 {
    display: inline-block;
    transform: translateY(0px);
    animation: wave 1s ease-in-out infinite alternate;
}

.s1 {
    animation-delay: 0.2s;
}

.s2 {
    animation-delay: 0.5s;
}

@keyframes wave {
    0% {
        transform: translateY(0px);
    }

    25% {
        text-shadow: 0px 0px 10px white;
    }

    75% {
        text-shadow: 0px 0px 10px black;
    }

    100% {
        transform: translateY(-10px);
    }
}

/*cart pinchos*/
.content{
    display: flex;
    flex-direction: column;
    gap:10px ;
    margin-top: 20px;
}
.gradient-border{
    background: linear-gradient(100deg, violet 25%, turquoise 50%, violet 75%);
    background-repeat: repeat;
    width: 310px;
    margin: 0% auto;
    padding: 10px ;
    border-radius: 10px;
    animation: gradient 50s ease-in-out infinite;
}
.cart{
    width: 290px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color:white;
    border-radius: 7px;
}
.cart h1{
    background-color: violet;
    background:linear-gradient(45deg, red, blue, yellow) ;
    background-size: 100%;
    background-repeat: repeat;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    font-family: var(--font-letter2);
}
.cart p{
    font-family: var(--font-letter1);
}
.cart h5{
    font-size: 1.5rem;
}
.cart .subtitle{
    font-weight: bolder;
    text-shadow: 0px 0px 5px black;
}
.templade{
    height: 100%;
}
@keyframes gradient {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: -80rem 0;
    }
    100%{
        background-position: 0 0;
    }
}
/*bebidas*/
ul{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    gap: 10px;
}
ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li img{
    width:70px;
    height: 100px;
    margin: 0% auto;
}
ul li .content{
    width: 100px;
    color: white;
    text-align: center;
    background-color: #a18cd1;
    box-shadow: 0px 0px 10px white;
    border-radius: 8px;
    display: flex;
}
ul li .content h3{
    width: 100px;
    text-align: center;
}
ul li .price{
    font-size: 2rem;
}








/*Querrys layout*/
/*WIDTH 390px*/
@media (min-width: 390px) {
    body {
        width: 100%;
    }

    main {
        width: 100%;
    }
}

/*WIDTH 500px*/
@media (min-width: 500px) {
    body {
        width: 100%;
    }

    main {
        width: 100%;
    }
    ul{
        width: 400px;
    }
}

/*WIDTH 650px*/
@media (min-width: 650px) {
    body {
        width: 100%;
    }

    main {
        width: 100%;
    }
    .content{
        display:grid;
        grid-template-areas: 
                "a a";
        
    }
    ul{
        width: 500px;
    }
}

/*WIDTH 844px*/
@media (min-width: 844px) {
    body {
        width: 100%;
    }

    main {
        width: 100%;
    }
    
}