/*font*/
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Fasthand&family=Fraunces:ital,wght@1,700&family=Montserrat:wght@500;700&family=Oswald:wght@300;600&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,400;0,600;1,700&family=Rubik:ital,wght@1,400;1,500;1,700&display=swap');
/* font-family: 'Agdasima', sans-serif;
font-family: 'Fasthand', cursive;-carta
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif; */
:root{
  --font-principal:'Agdasima';
  --font-secondary:'Montserrat';
  --font-carta:'Fasthand',cursive;
}


/*general*/
*,::after,::before{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  user-select: none;
}
.collapse{
  display: none;
}
img{
  width: 150px;
  height: 150px;
  border:solid 1px #fff;
  border-radius: 50%;
}
nav{
  display: none;
}
body{
  width: 390px;
  height: 100%;
  font-family: var(--font-principal);
  font-size: 20px;
  cursor: pointer;
}
button[class="btn-menu"]{
  display: flex;
  position: fixed;
  right: 0%;
  padding: 10px;
  margin: 20px;
  overflow: hidden;
  border: none;
  border-radius: 50%;

}
.conten{
  width: 70%;
  margin: 0 auto;
}
.conten .absolute{
  background-color: rgba(120, 120, 225, 0.95);
  width: 70%;
  height: 100%;
  position: fixed;
  right: 0 ;
  z-index: 5;
}
section[id*="home"]{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px 40px;
  text-align: center;
  color: #fff;
}
section[id*="home"] .name{
  font-size: 2.5rem;
}
section[id*="home"] span{
  font-size: 1rem;
  color:#ffffffc2;
}
section[id*="home"] .nav{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px auto 10px;
}
section[id*="home"] .nav a{
  color: #fff;
  text-decoration: none;
} 
section[id*="home"] .nav a:hover{
  text-decoration: line-through #ff0000;
}
section[id*="home"] button{
  padding: 10px;
  border-radius: 20px;
  border: solid 1px #fff;
  color: #fff;
  background-color: transparent;
  box-shadow: 4px 4px 3px 3px;
}
section[id*="home"] .link{
  font-size: 2rem;
}
section[id*="home"] .link a{
  text-decoration: none;
}
section[id*="home"] .link a iconify-icon{
  color: #fff;
}
section[id*="home"] .link a iconify-icon:hover{
  color: #ffffffa1;
}
section[id*="home"] .copy{
  margin: 50px auto 0px;
} 
section[id*="home"] .copy span{
  display: flex;
  gap: 5px;
  align-items: center;
}
section[id*="home"] .copy span div{
  width: 15px;
  height: 15px;
  border: solid 1px #fff;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.conten .relative{
  display: flex;
  flex-direction: column;
}
section h1{
  font-size: 4rem;
}
#sobreMi{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
#sobreMi .info{
  display: flex;
  gap: 30px;
}
section[id*="ejercicios"]{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 2rem;
}
section[id*="ejercicios"] .htmlCss, .js, .fm{
  text-align: center;
}
section[id*="ejercicios"] a{
  text-decoration: none;
  color: #000;
}
section[id*="ejercicios"] .htmlCss a span:first-child{
  color: #ff0000;
}
section[id*="ejercicios"] .htmlCss a span:last-child{
  color: blue;
}
section[id*="ejercicios"] .htmlCss a span:first-child:hover{
  color: #a02f2f;
}
section[id*="ejercicios"] .htmlCss a span:last-child:hover{
  color: rgb(40, 40, 142);
}
section[id*="ejercicios"] .conten-simbol{
  font-size: 5rem;
}
section[id*="ejercicios"] .conten-simbol iconify-icon{
  animation: simbol 5s ease-in-out infinite;

}
section[id*="ejercicios"] .js a{
  color: rgb(174, 174, 23);
  text-shadow: 5px -10px 3px;
}
section[id*="ejercicios"] .fm a{
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: -10px -10px 4px #0000006a,
              10px 10px 4px #0000006a;

}
section[id*="ejercicios"] .fm a::before{
  content: "";
  position: absolute;
  height: 2px;
  background-color: #000;
  width: 215px;  
}
section[id*="ejercicios"] .fm a:hover{
  text-decoration: line-through;
  text-decoration-color: #fff;
}
section[id*="contactar"]{
  font-size: 3rem;
}
section[id*="contactar"] .conten{
  display: flex;
  gap: 15px;
}
section[id*="contactar"] .conten a{
  color: rgba(0, 0, 0, 0.583);
}
section[id*="contactar"] .conten a:hover{
  color: violet;
}





@media (min-width:1000px) {
  body{
    width: 100%;
  }
  .conten{
    display: flex;
  }
  .conten .absolute{
    background-color: rgba(120, 120, 225, 0.95);
    width: 70%;
    height: 100vh;
    position: relative;
    left: 0 ;
  }
  .conten .absolute .nav{
    display: none;
  }
  .collapse{
    display: block;
  }
  #bmenuClose, #bmenuOpen{
    display: none;
  }
  nav{
    display: block
  }


















  section[id*="ejercicios"] .htmlCss, .js, .fm{
    display: flex;
    align-items: center;
    gap: 20%;
  }
  section[id*="ejercicios"] .conten-simbol iconify-icon{
    animation: none;
  }
  
}








@keyframes simbol {
  0%{
    transform: rotate(180deg);
  }
  50%{
    transform:scale(0.5);
  }
  100%{
    transform: rotate(180deg);
  }
}