@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --size: 200px;}
body.principal{
    background-color: rgba(0, 23, 34, 0.5);
    background-image:url("waves.svg"), 
    linear-gradient(to top, #48c6ef 0%, #6e1268 50%, #6f86d6 100%);
    background-repeat: no-repeat;
    background-size:100% 150px, cover ;
    background-position: bottom;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;/*cambiar a % cuando tenga contenido*/
     
}
nav .mobile{
   display: flex;
   justify-content: space-between;
   border: none;
   background-color: white;
   align-items: center;
   padding-left: 10px;
}
nav .mobile .links{
   display: flex;
   gap: 10px;   
}
nav .mobile .links a{
    text-decoration: none;
    color: black;
    display:block;
    padding: 10px;
}
nav .mobile .links a:hover{
    background-color: #6f86d6;
    color: gold;
}
/*qr-code-component-main*/
body.qr{
    width: 375px;
    height: 100%;
    margin: 0% auto;
    padding: 0%;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}
body.qr .container{
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    width: var(--size);
    height: 100%;
    margin: 50px auto;
    padding: 10px;
    margin-bottom: 100px;
    border-radius: 10px;
}
body.qr .container img{
    border-radius: 10px;
    width: var(--size);
    height: var(--size);
}
body.qr .container .p1{
    font-weight: 700;
}
body.qr .container .p2{
    font-weight: 400;
}

@media  screen and (min-width: 370px) {
    body.qr .container{
       width: 400px;
       height: 500px;

    }
    body.qr .container img{
       width: 400px;
       height: 400px;
    }
    body.qr{
        text-align: center;
        
    }
    body.qr .attribution{
        margin-left: 50px;
    }
 
}
@media  screen and (min-width: 500px) {
   
    body.qr{
        text-align: center;
        margin: 0% auto;
        padding-right:30px;
    }
    body.qr .attribution{
        margin-left: 50px;
    }
 
}
/*fin qr*/
