/*bootstrap*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/*font*/
@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Mynerve&family=Outfit:wght@400;700&family=Pacifico&family=Shantell+Sans:wght@300&family=Smokum&family=Zeyada&display=swap");

/*generales*/
:root {
  --font-primary: Outfit;
  --font-secondary: Smokum;
  --font-mechanical: Gajraj one;
  --font-letter1: Pacifico;
  --font-letter2: Shantell Sans;
  --border-color: #558bff;
  --width1: 200px;
  --size1: 75px;
  --width2: 300px;
  --size2: 14px;
  --width-cube: 200px;
}
*,
::after,
::before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  user-select: none;
}
.collapse {
  display: none;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
body {
  width: 390px;
  height: 844px;
  position: relative;
  top: 33px;
}
header {
  width: 100%;
}
main {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}
section {
  width: 100%;
}
/*nav horizontal*/
nav.horizontal .mobile2 {
  display: none;
}
.links a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: hotpink;
  font-family: var(--font-secondary);
}
.links a:hover {
  background-color: aqua;
  text-shadow: 1px 1px 10px black;
}
.logo {
  width: 100px;
  padding-left: 10px;
}
nav.horizontal {
  width: 100%;
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
  font-family: var(--font-primary);
  position: fixed;
  left: 50px;
  top: 0%;
  z-index: 3;
  left: 0px;
}
nav.horizontal .mobile1 .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.horizontal .mobile1 .head button {
  padding: 10px;
  border: none;
  background-color: blueviolet;
}
nav.horizontal .mobile1 .links a {
  text-align: center;
}
nav.horizontal .mobile2 {
  justify-content: space-between;
  align-items: center;
}
nav.horizontal .mobile2 a {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: hotpink;
  font-family: var(--font-secondary);
}
nav.horizontal .mobile2 a:hover {
  background-color: aqua;
  text-shadow: 1px 1px 10px black;
}
nav.horizontal .mobile2 .secondary.mini {
  display: none;
}
nav.horizontal .mobile2 .secondary.mini .submenu {
  position: absolute;
  display: none;
  width: 100px;
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
  right: 0;
}
nav.horizontal .mobile2 .secondary,
nav.horizontal .mobile2 .primary {
  display: flex;
}
nav.horizontal .mobile2 .secondary.mini:hover .submenu {
  display: block;
}
/*nav vertical*/
nav.vertical {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 34px;
  background-image: linear-gradient(
    -225deg,
    #5d9eff 0%,
    #b8dcff 48%,
    #6bbaff 100%
  );
  transition: width 0.5s ease-in-out;
  z-index: 3;
}
nav.vertical .header {
  width: var(--width1);
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-200px);
  margin-bottom: 50px;
}
nav.vertical:hover .header {
  transform: translateY(0px);
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
nav.vertical:hover {
  width: 200px;
}
nav.vertical .header img {
  width: 100px;
  height: 100px;
}
nav.vertical .header .text p {
  font-size: 28px;
  text-transform: capitalize;
}
nav.vertical .links a {
  display: flex;
  align-items: center;
  gap: 11px;
}
nav.vertical .links a i {
  font-size: 1.8rem;
}
nav.vertical .links a p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/*section hero*/
.section-hero .hero {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: radial-gradient(
    circle 80px at center,
    #dd81af 0%,
    #ff11a9 100%
  );
}
.section-hero .hero img{
  width: 100px;
  height: 100px;
}
.section-hero .hero h1 {
  padding: 0px 0px 50px;
  letter-spacing: 10px;
}
.section-hero .hero h1 .html {
  color: blue;
}
.section-hero .hero h1 .css {
  color: greenyellow;
}
.section-hero .hero h3 {
  transition: all 1s ease-in-out;
  display: flex;
  text-align: center;
  justify-content: center;
  letter-spacing: 5px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.section-hero .hero h3:hover {
  letter-spacing: 10px;
  color: gold;
}
.section-hero .hero h3 .p1 {
  animation: letter2 10s ease-in-out infinite;
}
.section-hero .hero h3 .p2 {
  animation: letter1 10s ease-in-out infinite;
}
@keyframes letter1 {
  5% {
    transform: translateY(15%);
  }
  25% {
    transform: rotate(15deg);
    color: #5d9fff;
  }
  50% {
    transform: scale(1.5);
    color: sienna;
  }
  75% {
    transform: translateX(20%);
  }
}
@keyframes letter2 {
  5% {
    transform: translateY(-15%);
    color: darkblue;
  }
  25% {
    transform: rotate(-15deg);
    color: gold;
  }
  50% {
    transform: scale(-1.5);
  }
  75% {
    transform: translateX(-20%);
  }
}
/*section card*/
.section-card {
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  padding-left: 10px;
}
.cards-container {
  display: flex;
  width: 300px;
  margin: 50px auto;
}
.cards-container .card {
  width: 200px;
  height: 250px;
  background-color: darkgray;
  box-shadow: 0px 0px 10px black;
  border-radius: 10px;
  padding: 10px;
  transition: all 1s ease-in-out;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.cards-container .card:hover {
  transform: translateY(-15%) rotate(4deg);
  margin-right: 100px;
}
.cards-container .card.element {
  margin-left: -100px;
}
.cards-container .element-1,
.cards-container .element-2 {
  margin-left: -120px;
}
.cards-container .card .header {
  flex: 1;
}
.cards-container .card .header .date {
  padding-bottom: 10px;
}
.cards-container .card .footer a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: hotpink;
}
.cards-container .card .footer a img {
  width: 28px;
  height: 28px;
}
/*section table*/
.section-table {
  background: linear-gradient(to bottom, greenyellow 0%, yellow 50%, gold 100%);
}
table {
  width: 300px;
  margin: 50px auto;
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  font-family: var(--font-secondary);
}
caption {
  text-transform: capitalize;
}
table tr td,
th {
  border: solid 1px white;
}
table tr th {
  background-color: black;
  color: white;
  text-transform: capitalize;
}
table thead {
  position: sticky;
  top: 4%;
}
table tbody tr:nth-child(even) {
  background-color: chartreuse;
}
table tbody tr:hover {
  background-color: darkgreen;
}
table tbody tr:nth-child(n + 1) {
  text-align: center;
}
/*section notification*/
.section-notification {
  background: radial-gradient(
    circle 100px at top left,
    purple 0%,
    #fbc2eb 100%
  );
}
.notif-container {
  width: 50px;
  margin: 100px auto;
  display: flex;
  animation: ring 10s infinite ease-in-out;
  transform-origin: 50% 4px;
}
.notif-container .count {
  font-size: 10px;
  width: var(--size2);
  height: var(--size2);
  min-width: var(--size2);
  min-height: var(--size2);
  background-color: #4facfe;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -7px;
  left: 20px;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  1% {
    transform: rotate(50deg);
  }
  3% {
    transform: rotate(-50deg);
  }
  5% {
    transform: rotate(48deg);
  }
  7% {
    transform: rotate(-48deg);
  }
  9% {
    transform: rotate(46deg);
  }
  11% {
    transform: rotate(-46deg);
  }
  13% {
    transform: rotate(44deg);
  }
  15% {
    transform: rotate(-44deg);
  }
  17% {
    transform: rotate(42deg);
  }
  19% {
    transform: rotate(-42deg);
  }
  21% {
    transform: rotate(40deg);
  }
  23% {
    transform: rotate(-40deg);
  }
  25% {
    transform: rotate(38deg);
  }
  27% {
    transform: rotate(-38deg);
  }
  29% {
    transform: rotate(36deg);
  }
  31% {
    transform: rotate(-36deg);
  }
  33% {
    transform: rotate(34deg);
  }
  35% {
    transform: rotate(-34deg);
  }
  37% {
    transform: rotate(32deg);
  }
  39% {
    transform: rotate(-32deg);
  }
  41% {
    transform: rotate(30deg);
  }
  43% {
    transform: rotate(-30deg);
  }
  45% {
    transform: rotate(28deg);
  }
  47% {
    transform: rotate(-28deg);
  }
  49% {
    transform: rotate(26deg);
  }
  51% {
    transform: rotate(-26deg);
  }
  53% {
    transform: rotate(24deg);
  }
  55% {
    transform: rotate(-24deg);
  }
  57% {
    transform: rotate(22deg);
  }
  59% {
    transform: rotate(-22deg);
  }
  61% {
    transform: rotate(20deg);
  }
  63% {
    transform: rotate(-20deg);
  }
  65% {
    transform: rotate(18deg);
  }
  67% {
    transform: rotate(-18deg);
  }
  69% {
    transform: rotate(16deg);
  }
  71% {
    transform: rotate(-16deg);
  }
  73% {
    transform: rotate(14deg);
  }
  75% {
    transform: rotate(-14deg);
  }
  77% {
    transform: rotate(12deg);
  }
  79% {
    transform: rotate(-12deg);
  }
  81% {
    transform: rotate(10deg);
  }
  83% {
    transform: rotate(-10deg);
  }
  85% {
    transform: rotate(8deg);
  }
  87% {
    transform: rotate(-8deg);
  }
  89% {
    transform: rotate(6deg);
  }
  91% {
    transform: rotate(-6deg);
  }
  93% {
    transform: rotate(4deg);
  }
  95% {
    transform: rotate(-4deg);
  }
  97% {
    transform: rotate(2deg);
  }
  99% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*section checkbox*/
.section-checkbox {
  background: linear-gradient(
    to left,
    #ff8177 0%,
    #ff867a 5%,
    #ff8c7f 21%,
    #f99184 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}
.checkbox-container {
  width: 250px;
  height: 200px;
  margin: 50px auto;
  background-color: #00f2fe;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
.checkbox-container label {
  display: block;
  position: relative;
  margin-bottom: 15px;
  padding-left: 35px;
}
.checkbox-container label input {
  position: absolute;
  width: 0px;
  height: 0px;
}
.checkbox-container label .check-mack {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 4px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.checkbox-container label .check-mack i {
  color: red;
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 20px;
  transform: scale(0);
  transition: all 1s ease-in-out;
}
.checkbox-container label .check-radio {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
}
.checkbox-container label .check-radio .circle {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  transform: scale(0);
  transition: all 1s ease-in-out;
}
.checkbox-container label input:checked ~ .check-radio .circle {
  transform: scale(1);
  position: absolute;
}
.checkbox-container label input:checked ~ .check-mack i {
  transform: scale(1);
  position: absolute;
}
/*section search*/
.section-search{
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100% );
}
.search-container{
  width: 80%;
  margin: 50px auto;
  border: solid 1px rgba(0, 0, 0, 0.434);
  border-radius: 30px;
  padding: 6px;
  display: flex;
  align-items: center;
  background:white;
}
.search-container:focus-within{
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  transition: box-shadow 1s ease-in-out;
}
.search-container input{
  flex: 1;
  padding: 2px;
  border: none;
  outline: none;
  color: #558bff;
  font-family: var(--font-letter1);
}
.search-container .button-container{
  display: flex;
}
.search-container .button-container button{
  padding: 5px;
  border: none;
  background-color: white;
  color: #558bff;
}
.search-container .button-container button:hover{
  text-shadow: 0px 0px 4px rgb(253, 2, 211);
  transition: all 1s ease-in-out;
}
/*section flip-cards*/
.section-flip-cards{
  background: radial-gradient(circle 80px at top right, 
            #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%,
            #b49fda 79%, #7ac5d8 100%);
}
.flip-cards{
  width: 300px;
  display: flex;
  margin: 50px auto;
  gap: 5px;
}
.flip-cards .flip-card{
  width: 200px;
  height: 200px;
  perspective: 1000px;
  border-radius: 10px;
}
.flip-cards .flip-card .inner-card{
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}
.flip-cards .flip-card:hover .inner-card{
  transform: rotateY(180deg);
}
.flip-cards .flip-card .inner-card .front-card,
.flip-cards .flip-card .inner-card .black-card{
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;  
}
.flip-cards .flip-card .inner-card .front-card{
  transform: rotateY(-180deg);
}
.flip-cards .flip-card .inner-card .front-card img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.flip-cards .flip-card .inner-card .black-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;
  padding: 0px 5px;
}
/*section coment*/
.section-coment{
  background:linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
}
.coment-container{
  width: 325px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}
.coment-container > .coment{
  margin-bottom: 10px;
}
.coment-container .coment{
  display: flex;
}
.coment-container .coment .line{
  content: "";
  position: relative;
  width: 10px;
  height: 50%;
  border-left: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
  border-radius: 0px 0px 0px 8px;
}
.coment-container .coment .coment-wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.coment-container .coment .coment-wrap .content{
  width: 100%;
  padding: 5px;
  display: flex;
  gap: 10px;
  border: solid 1px var(--border-color);
  border-radius: 5px;
  background-color: #2e519e;
  align-items: center;
}
.coment-container .coment .coment-wrap .content .user-photo img{
  width: 40px;
  height: 40px;
}
.coment-container .coment .coment-wrap .content .info{
  display: flex;
  flex-direction: column;
}
.coment-container .coment .coment-wrap .content .info .user-info{
  display: flex;
  gap: 10px;
}
.coment-container .coment .coment-wrap .content .info .user-info .name{
  text-transform: capitalize;
  font-family: var(--font-letter2);
  font-size: 15px;
}
.coment-container .coment .coment-wrap .content .info .user-info .date{
  font-family: var(--font-letter2);
  font-size: 15px;
}
.coment-container .coment .coment-wrap .content .info .coment-info{
  font-family: var(--font-primary);
}
.coment-container .coment .coment-wrap .content .info .container-btn{
  display: flex;
  gap: 4px;
  padding-top: 10px;
}
.coment-container .coment .coment-wrap .content .info .container-btn button{
  padding: 5px;
  border: none;
  background-color: var(--border-color);
  border-radius: 4px;
  color: white;
}
.coment-container .coment .coment-wrap .content .info .container-btn button:hover{
  background-color: #2e519e;
  color: var(--border-color);
  box-shadow: 0px 0px 10px white;
}
.coment-container .coment .coment-wrap .replies{
  padding-top: 10px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.coment-container .coment .coment-wrap .replies::before{
  content: "";
  position: absolute;
  border-left: solid 1px var(--border-color);
  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  height: calc(100% - 50px);
  top: 0%;
}
/*section stap personas*/
.section-stap-persona{
  background:linear-gradient(to top, red 0%, blue 50%, yellow 100%);
}
.stap-personas{
  width: 250px;
  margin: 100px auto;
  display: flex;
}
.stap-personas .persona{
  margin-right: -20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.stap-personas .persona .text{
  position: absolute;
  top: -65px;
  width: 140px;
  border: solid 1px white;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 5px;
  left: calc((100% - 4px) * -1);
  display: none;
}
.stap-personas .persona .text .name{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  margin: 0 auto;
}
.stap-personas .persona img:hover ~ .text{
  display: inline-flex;
}
.stap-personas .persona .text::before{
  content: "";
  position: relative;
  width: 0px;
  height: 0px;
  border-top: solid 10px white;
  border-right: solid 10px transparent;
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;
  top: 39px;
  left: calc(50% - 10px);
}
.stap-personas .persona:hover img{
  transform: translateY(-4px);
}
.stap-personas .persona img{
  transition: transform 1s ease-in-out;
}
/*section modal*/
.section-modal{
  background-image: url(img-svg/imge.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #6457c6b3;
}
.modal-container{
  width: 300px;
  margin: 100px auto;
  background-color: #5d9eff;
  border-radius:20px;
  padding: 40px 20px;
  box-shadow: 0px 0px 8px black;
}
.modal-container .modal{
  background-color: #2e519e;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 9px honeydew;
}
.modal-container .modal .header{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}
.modal-container .modal .header .info h1{
  text-transform: capitalize;
  font-family: var(--font-letter1);
  font-size: 19px;
}
.modal-container .modal .header .info span{
  color: #9999;
  font-size: 11px;
}
.modal-container .modal .action{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.modal-container .modal .action button{
  padding: 5px;
  border-radius: 5px;
  border:none;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out;
}
.modal-container .modal .action .btn-confir{
  background-color: #4facfe;
  color: white;
  text-shadow: 0 0 5px blue;
}
.modal-container .modal .action .btn-cancel{
  background-color: red;
  color: black;
  text-shadow: 0 0 10px black;
}
.modal-container .modal .action .btn-confir:hover{
  background-color: #7fadf1;
  box-shadow: 0 0 10px black;
}
.modal-container .modal .action .btn-cancel:hover{
  background-color: rgb(104, 32, 32);
  box-shadow: 0 0 10px black;
  color: white;
}
/*section upload*/
.section-upload{
  background-image: url(img-svg/img1.svg);
  background-repeat: no-repeat;
  background-color: #184db5bd;
}
.upload-container{
  background:radial-gradient(circle 248px at center,
  #16d9e38f 0%, #30c6ec99 47%, #46adf79f 100%);
  width:300px ;
  margin: 50px auto;
  padding:30px 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 4px black,
              -2px -2px 4px white;
}
.upload-container h1{
  font-size: 28px;
  margin-bottom: 10px;
}
.upload-container > p{
  color: #f99184;
  text-align: start;
  font-size: 14px;
}
.upload-container .drag-drop{
  border: dashed 1px white;
  display: flex;
  flex-direction: column;
  gap: 10px ;
  padding: 30px 10px;
}
.upload-container .drag-drop .icon i{
  font-size: 100px;
}
.upload-container .drag-drop p{
  font-family: var(--font-letter1);
  margin-top: -15px;
}
.upload-container .drag-drop button{
  padding: 10px;
  border: none;
  text-transform: capitalize;
  font-weight: bolder;
  border-radius: 4px;
}
.upload-container .drag-drop button:hover{
  background-color: #65379B;
  color: white;
  box-shadow: 0 0 5px #65379b;
  text-shadow: 0 0 5px white;
}
.upload-container .subtitle{
  margin: 10px 0px ;
}
.upload-container .files-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.upload-container .files-container .file{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border: solid 1px white;
  padding: 5px;
  transition: box-shadow 1s ease-in-out;
}
.upload-container .files-container .file:hover{
  box-shadow: 0 0 8px white;
}
.upload-container .files-container .file .icon i{
  font-size: 40px;
}
.upload-container .files-container .file .conten{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}
.upload-container .files-container .file .conten .progress-bar{
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 4px;
}
.upload-container .files-container .file .conten .progress-bar .progress{
  width: 60%;
  height: 4px;
  background-color: #a14ffe;
  border-radius: 4px;
}
.upload-container .files-container .file button{
  padding: 10px;
  border: none;
  text-transform: capitalize;
  border-radius: 4px;
  color: #2e519e;
  box-shadow: 0 0 4px purple;
  margin-left: 5px;
}
.upload-container .files-container .file button:hover{
  background-color: #4facfe;
  color:white;
}
/*section service*/
.section-service{
  background:linear-gradient(to left, #a18cd1 0%, #fbc2eb 100%);
}
.service-container{
  display: flex;
  width: 300px;
  margin: 100px auto;
  align-items: center;
}
.service-container .card-price{
  width: 250px;
  height: 300px;
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background:radial-gradient(circle 250px at center, #ff11a9 0%, #dd81af 50%,
  #fbc2eb 100%) ;
  border: none;
  z-index: 1;
  box-shadow: 0px 0px 8px black;
  animation: color 10s ease-in-out infinite;
  font-family: var(--font-primary);

}
.service-container .card-price.recomendy{
  height: 350px;
  z-index: 2;
  padding: 40px 5px;
  border-radius: 10px;
}
.service-container .card-price:last-child{
  border-radius: 0px 10px 10px 0px;
}
.service-container .card-price:first-child{
  border-radius: 10px 0px 0px 10px;
}
@keyframes color {

  from{
    background: linear-gradient(120deg, #fccb9086 0%, #d57eeb99 100%);
    
  }
  to{
    background:radial-gradient(circle 250px at center, #ff11a9 0%, #dd81af 50%,
    #fbc2eb 100%) ;
  }
}
.service-container .card-price h1{
  text-align: center;
  text-transform: capitalize;
}
.service-container .card-price .price{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: 19px;
}
.service-container .card-price .price .number{
  font-size: 28px;
}
.service-container .card-price .access{
  flex: 1;
}
.service-container .card-price .access ul{
  list-style: none;
}
.service-container .card-price .access ul li{
  display: flex;
  gap: 5px;
  align-items: center;
  text-transform: capitalize;
}
.service-container .card-price .access ul li i{
  color: white;
}
.service-container .card-price .access ul li i:hover{
  color: #4facfe;
}
.service-container .card-price .action button{
  display: block;
  width: 100%;
  padding: 5px;
  text-transform: capitalize;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  box-shadow: 0px 0px 9px white;
  transition: background-color 1s ease-in-out;
}
.service-container .card-price .action button:hover{
  background-color: gold;
}
/*section-whatsaap*/
.section-whatsaap{
  background:linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.bubbles-container{
  width: 300px;
  height: 450px;
  background-color: var(--border-color);
  margin: 50px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: end;
}
.bubbles-container .bubble-container.right{
  width: 50%;
  align-items: flex-end;
  margin-left: auto;
}
.bubbles-container .bubble-container.left{
  width: 50%;
  align-items: flex-start;
  margin-right: auto;
}
.bubbles-container .bubble-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.bubbles-container .bubble-container .bubble{
  width: 100%;
  padding: 5px;
  display: flex;
}
.bubbles-container .bubble-container.right .bubble{
  background-color: #3471f4;
  
}
.bubbles-container .bubble-container.left .bubble{
  background-color: #3059ec;
}
.bubbles-container .bubble-container .bubble .bubble-text > div{
  display: flex;
  gap: 10px;
  position: relative;
}
.bubbles-container .bubble-container .bubble .bubble-text > div p{
  font-size: 14px;
}
.bubbles-container .bubble-container .bubble .bubble-text > div span{
  font-size: 10px;
  width: 70px;
  display: flex;
  align-items: end;
  text-align: end;
  justify-content: end;
  color: #9999;
}
.bubbles-container .bubble-container.right .bubble:nth-child(1) .bubble-text > div::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  border-top: solid 5px #3471f4;
  border-left: solid 5px #3471f4;
  border-bottom: solid 5px transparent;
  border-right: solid 5px transparent;
  right: -10px;
  top: -5px ;
}
.bubbles-container .bubble-container.left .bubble:nth-child(1) .bubble-text > div::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  border-top: solid 5px #3059ec;
  border-right: solid 5px #3059ec;
  border-bottom: solid 5px transparent;
  border-left: solid 5px transparent;
  left: -12px;
  top: -5px;
}
/*section profile*/
.section-profile{
  background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.profile{
  width: 70px;
  height: 70px;
  margin: 50px 30px 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile img{
  box-shadow: 0px 0px 10px black;
}
.profile .conten{
  width: 300px;
  display: none;
  flex-direction: column;
  padding: 10px;
  background-color: steelblue;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 0px 0px 10px black;
}
.profile:hover .conten{
  display: inline-flex;
  animation: show 2s ease-in-out;
}
@keyframes show {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.profile .conten .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile .conten .header button{
  padding: 5px;
  text-transform: capitalize;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 17px black;
}
.profile .conten .header button:hover{
  background-color: #00f2fe;
}
.profile .conten a{ 
  font-family: var(--font-mechanical);
  font-size: 12px;
  text-decoration: none;
  color:#888;
}
.profile .conten a:hover{
  text-decoration: underline;
  color: gold;
}
.profile .conten .follower-container{
  display: flex;
  justify-content: space-between;
}
.profile .conten .follower-container .followers .number{
  color: black;
}
.profile .conten .follower-container .following .number{
  color: black;
}
.profile .conten .other a{
  display: flex;
  align-items: center;  
}
.profile .conten .other a img{
  margin-right: -20px;
  width: 38px;
  height: 38px;
}
.profile .conten .other a p{
  margin-left: 30px;
}
/*section widget*/
.section-widget{
  background-color: yellow;
}
.widget-container{
  width: 300px;
  background:linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  margin: 50px auto;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0px 0px 10px blueviolet;
}
.widget-container .actuallity{
  background-color: #00f2fe;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px white;
  margin-bottom: 30px;
}
.widget-container .actuallity .country{
  text-align: center;
  text-shadow: 0px 0px 10px rgb(168, 10, 168);

}
.widget-container .actuallity .country p{
  color: white;
}
.widget-container .actuallity .info-time{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.widget-container .actuallity .info-time img{
  width: 80px;
  height: 80px;
}
.widget-container .actuallity .info-time .temperature-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.widget-container .actuallity .info-time .temperature-info .temperature-container{
  display: flex;
  gap: 5px;
  align-items: center;
}
.widget-container .actuallity .info-time .temperature-info .temperature-container .temp-max{
  font-size: 60px;
}
.widget-container .actuallity .info-time .temperature-info .temperature-container .temp-min{
  font-size: 30px;
}
.widget-container .actuallity .items{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.widget-container .actuallity .items .item{
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}
.widget-container .days-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.widget-container .days-container .day{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px white;
  border-radius: 5px;
}
.widget-container .days-container .day .name{
  text-transform: capitalize;
}
.widget-container .days-container .day .conten{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.widget-container .days-container .day .temperature{
  display: flex;
  gap: 5px;
}
.widget-container .days-container .day .temperature .tem-max{
  color: red;
}
.widget-container .days-container .day .temperature .tem-min{
  color: blue;
}
/*section instagran*/
.section-instagran{
  background: linear-gradient(to left, #ae23bc 0%, #498cad 50%, #bfca32 100%);
}
.profile-container{
  display: flex;
  width: 300px;
  margin: 50px auto;
  gap: 2px;
}
.profile-container .story{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profile-container .story .outer-box{
  width:60px;
  height:60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:radial-gradient(circle farthest-corner at 32% 100%,
  rgb(255,225,125) 0%,
  rgb(255,225,105) 10%,
  rgb(255,145,55) 20%,
  rgb(235,65,65) 42%,
  transparent 82%),
  linear-gradient(135deg, 
  rgb(35,75,215) 12%,
  rgb(195,60,190) 58%);
  box-shadow: 0px 0px 5px black;
}
.profile-container .story .outer-box a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-container .story .text p{
  width: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  animation: rgb 10s infinite ease-in-out;
}
@keyframes rgb {
  0%{
    color: rgb(255,225,125);
  }
  10%{
    color: rgb(255,225,105);
  }
  20%{
    color: rgb(255,145,55);
  }
  30%{
    color: rgb(235,65,65);
  }
  40%{
    color:rgb(35,75,215);
  }
  50%{
    color:rgb(195,60,190);
  }
  55%{
    color:rgb(195,60,190);
  }
  60%{
    color:rgb(35,75,215);
  }
  70%{
    color: rgb(235,65,65);
  }
  80%{
    color: rgb(255,145,55);
  }
  90%{
    color: rgb(255,225,105);
  }
  100%{
    color: rgb(255,225,125);
  }
}
/*section slider*/
.section-slider{
  background-color: black;
}
.slider-container{
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.slider-container .slider-viewport{
  width: var(--width2);
  display: flex;
  overflow-x: hidden;
  scroll-snap-type:x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slider-container .slider-viewport .slider{
  width: var(--width2);
  height: var(--width2);
  min-width: var(--width2);
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  border-radius: 10px;
}
#slider1{
  background:url(img-svg/slider1.svg), radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) ;
  background-repeat: no-repeat;
  background-position: bottom;
}
#slider2{
  background: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
#slider3{
  background: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}
#slider4{
  background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}
#slider5{
  background: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}
.slider-container .links-container{
  display: flex;
  gap: 10px;
}
.slider-container .links-container a{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0px 0px 8px #8129e0;
}
/*section login*/
.section-login{
  background-color: #00f2fe;
}
.welcome-container{
  /*barra circular*/
  display: none;
  background:linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.from-container{
  display: flex;
  width: 320px;
  background:linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px black;
}
.from-container .login-container{
  width: 95%;
  margin: 0 auto;
}
.from-container .login-container h1{
  font-size: 40px;
  text-align: center;
  padding: 50px 0 20px;
}
.from-container .login-container > p{
  color: #444;
  margin-bottom: 10px;
  text-align: center;
}
.from-container .login-container label{
  display: block;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.from-container .login-container input[class="input"]{
  padding: 10px;
  width: 100%;
  border: none;
  margin-bottom: 10px;
  outline: none;
  transition: box-shadow 1s ease-in-out;
  border-radius: 5px;
}
.from-container .login-container input[class="input"]:focus-within{
  outline:solid 1px var(--border-color);
  box-shadow: 0px 0px 7px white;
}
.from-container .login-container form .optional{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}
.from-container .login-container form .optional p{
  gap: 3px;
}
.from-container .login-container form .optional a{
  text-decoration: none;
  color:rgb(253, 2, 211);
}
.from-container .login-container form input[type="submit"]{
  margin: 5px 0px ;
} 
.btn{
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  text-transform: capitalize;
  font-weight: bolder;
  font-family: var(--font-letter2);
  box-shadow: 0px 0px 5px black;
  text-shadow: 0px 0px 5px white;
  border-radius: 4px;
}
.from-container .login-container form .provider{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px 0px 30px;
  align-items: center;
}
.from-container .login-container form .provider span{
  color: #444;
}
.btn.btn-login{
  background-color:black;
}
.btn.btn-login:hover{
  background-color:rgba(0, 0, 0, 0.708);
}
.btn.btn-google{
  color: #ae23bc;
}
.btn.btn-google:hover{
  background-color: #444;
}
.btn.btn-facebook{
  background-color: #3471f4;
}
.btn.btn-facebook:hover{
  background-color: #2e519e;
}
.btn.btn-twitter{
  background-color: #16d9e3;
}
.btn.btn-twitter:hover{
  background-color: #0f7878;
}
  /*barra circular*/
.welcome-container .barra-circle-container{
  width: var(--width1);
  height: var(--width1);
  max-width: var(--width1);
  max-height: var(--width1);
  margin: 200px auto;
}
.welcome-container .barra-circle-container .outer-box{
  background-color: #dd81af;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px black;
}
.welcome-container .barra-circle-container .outer-box .inner-box{
  background-color: white;
  width: calc(var(--width1) - 40px);
  height: calc(var(--width1) - 40px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: var(--font-secondary);
  font-size: 30px;
  box-shadow: 0px 0px 10px white;
}
.welcome-container .barra-circle-container .outer-box svg{
  position: relative;
}
.welcome-container .barra-circle-container .outer-box svg circle{
  fill: none;
  stroke: url(#gradientcolor);
  stroke-width: 20;
  stroke-dasharray: 550;
  stroke-dashoffset: 550;
  animation: loading 10s infinite ease-in-out;
}
@keyframes loading {
  100%{
    stroke-dashoffset: 0%;
  }
}
/*section cube*/
.cube-3d{
  background-color: white;
}
#container{
  margin: 50px auto;
  width: fit-content;
  perspective: 1000px;
  perspective-origin: 100% 100%;
}
.cube{
  height: var(--width-cube);
  width: var(--width-cube);
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 4s linear infinite;
}
.cube > div{
  position: absolute;
  width:var(--width-cube);
  height:var(--width-cube);
  opacity: 0.9;
  background: linear-gradient(to right, #0b1fbc, #b13cff);
}
.s1{
  transform: translateZ(100px);
}
.s2{
  transform: rotateY(90deg) translateZ(100px);
}
.s3{
  transform: rotateY(180deg) translateZ(100px);
}
.s4{
  transform: rotateX(90deg) translateZ(100px);
}
.s5{
  transform: rotateY(-90deg) translateZ(100px);
}
.s6{
  transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
}
@keyframes rotate {
  100%{
    transform: rotateX(0deg)
    rotateY(360deg)
    rotateZ(360deg);
  }
}
/*Querrys layout*/
/*WIDTH 390px*/
@media (min-width: 390px) {
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }
}
/*WIDTH 500*/
@media (min-width: 500px) {
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }
  /*nav vertical*/
  nav.vertical .header {
    display: none;
  }
  nav.vertical .links {
    margin-top: 50px;
  }
  nav.vertical .links a i {
    font-size: 1.2rem;
    padding-left: 4px;
  }
  /*table*/
  table{
    width: 400px;
  }
  /*flip-cards*/
  .flip-cards{
    width:400px ;
  }
  .coment-container{
    width: 400px;
  }
  /*modal*/
  .modal-container{
    width: 400px;
  }
.modal-container .modal .action{
  flex-direction: row;
  justify-content: end;
}
.modal-container .modal .header .info h1{
  font-size: 28px;
}
.modal-container .modal .header .info span{
  font-size: 15px;
}
/*upload file*/
.upload-container{
  width: 400px;
}
/*card price*/
.service-container{
  width: 90%;
}
.service-container .card-price{
  padding: 15px 10px;
}
.service-container .card-price.recomendy{
  padding: 40px 10px;
}
.service-container .card-price .price .number{
  font-size: 38px;
}
.service-container .card-price .action button{
  padding: 10px;
}
/*Whatsaap*/
.bubbles-container{
  width: 400px;
}
/*widget*/
.widget-container{
  width: 400px;
}
.widget-container .actuallity .info-time img{
  width: 100px;
  height: 100px;
}
.widget-container .actuallity .info-time .temperature-info .temperature-container .temp-max{
  font-size: 80px;
}
.widget-container .actuallity .info-time .temperature-info .temperature-container .temp-min{
  font-size: 40px;
}
/*slider*/
.slider-container .slider-viewport{
  width: 400px;
}
.slider-container .slider-viewport .slider{
  width: 400px;
  min-width: 400px;
}
/*login*/
.from-container{
  width: 80%;
}
.from-container .login-container{
  width:90% ;
}
.from-container .login-container form .optional{
  text-transform: capitalize;
}
}
/*WIDTH 650*/
@media (min-width: 650px) {
  /*login*/
  .from-container{
    width: 95%;
  }
  .from-container .login-container{
    width:50% ;
  }
  .from-container .login-container form{
    width: 90%;
    margin: 0px auto;
  }
  .from-container .welcome-container{
    display: flex;
    width: 50%;
  }
}
/**/
/*WIDTH 844*/
@media (min-width: 844px) {
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }
  /*nav horizontal*/
  nav.horizontal .mobile1 {
    display: none;
  }
  nav.horizontal .mobile2 {
    display: flex;
  }
  /*card*/
  .cards-container {
    width: 600px;
  }
  /*table*/
  table{
    width: 550px;
  }
  /*flip-cards*/
  .flip-cards{
    width: 600px;
  }
  /*card price*/
  .service-container .card-price{
    padding: 20px 20px;
  }
  .service-container .card-price.recomendy{
    padding: 45px 20px;
  }
  .service-container .card-price .price .number{
    font-size: 48px;
  }
  /*Whatsaap*/
.bubbles-container{
  width: 450px;
}
/*widget*/
.widget-container{
  width: 450px;
}
/*login*/
.from-container{
  width: 90%;
}
.from-container .login-container{
  width:50% ;
}
.from-container .login-container form{
  width: 95%;
  margin: 0px auto;
}
.from-container .welcome-container{
  display: flex;
  width: 50%;
}
}
/*WIDTH 1024*/
@media (min-width: 1024px) {
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }
  nav.horizontal .mobile2 .secondary.mini {
    display: block;
  }
  nav.horizontal .mobile2 .secondary.full {
    display: none;
  }
  /*card*/
  .cards-container {
    width: 600px;
  }
  /*login*/
.from-container{
  width: 80%;
}
.from-container .login-container{
  width:50% ;
}
.from-container .login-container form{
  width: 85%;
  margin: 0px auto;
}
.from-container .welcome-container{
  display: flex;
  width: 50%;
}
}
