body{
    width: 390px;
}
img{
    width: 100%;
}
nav{
    background-color: rgba(244, 245, 245, 0.763);
    width: 40px;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
nav ul{
    margin-left: -80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
nav ul li a{
    text-decoration: none;
    color:rgb(103, 102, 102);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
}
nav ul li a span{
    padding: 2px;
    border-radius: 5px;
}
nav ul li a span:hover{
    background-color: #fff;
}
nav ul li a .text{
    background-color: #fff;
    width: 71px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.343);
    transform: translateX(-100px);
    opacity: 0;
    transition: all 1s ease-in-out;
    user-select: none;
    position: relative;
}
nav ul li:hover .text{
    transform: translateX(110px);
    opacity: 1;
}

/*main*/
main{
    width: calc(100 - 40px);
    margin-left: 40px;
    background-color:#fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section{
    width: 100%;
    height: 100%;
}

/*hero*/
#hero{
    background-image: url(imagen/luna\ pastel.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgba(151, 151, 151, 0.573);
}

/*card*/
section[id*="cards"]{
  display: flex;
  padding: 10px;
  background-color: rgba(151, 151, 151, 0.573);
  border-radius: 15px;
  z-index: 1;
}
#cards .container{
    display: flex;
    margin: 100px auto;
    width: 400px;
}
#cards .card{
    width: 100px;
    height: 200px;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 10px rgb(131, 131, 131);
    position: relative;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
    padding: 10px;
    font-family: var(--font-carta);
    border-radius: 10px;
}
#cards .card.element{
    margin-left: -50px;
}
#cards .card.element-1,
#cards .card.element-2{
    margin-left: -70px;
}
#cards .card:hover{
    transform: translateY(-15%) rotate(4deg);
    margin-right: 50px; 
}
#cards .card .header .title{
   font-size: 17px;
   font-weight: bolder;
}
#cards .card .header{
    flex: 1;
}
#cards .card .footer a{
    display: flex;
    align-items: center;
    font-size: 10px;
    gap: 10px;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 10px black;
}
#cards .card .footer a img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px white;
}

/*table*/
section[id*="table"]{
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.304);
    border-radius: 15px;
    padding: 10px;
}
table{
    margin: 40px auto;
    border-collapse: collapse;
    width: 95%;
}
table tr th, td{
    border: solid 1px rgb(210, 143, 143);
}
table tbody tr:nth-child(even){
    background-color: rgba(177, 177, 177, 0.519);
}
table tr th{
    background-color: black;
    color: #fff;
    text-transform: capitalize;
}
table tbody tr:hover{
    background-color: #ededed;
}
table tbody tr td:nth-child(n){
    text-transform: capitalize;
    text-align: center;
}
table caption{
    text-transform: capitalize ;
}
/*notification*/
section[id*="notification"]{
    padding: 10px;
    background-color: rgba(151, 151, 151, 0.573);
    border-radius: 15px;
}
#notification .conten{
    width: 50px;
    height: 50px;
    margin: 50px auto;
    display: flex;
    animation: rig 10s ease-in-out infinite;
    transform-origin: 50% 4px;
}
#notification .conten .count{
    background-color: black;
    display: flex;
    width: 18px;
    height: 18px;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    position: relative;
    box-sizing: border-box;
    left: -15px;
    top: 4px;
}
#notification .conten span{
    font-size: 35px;
}
@keyframes rig {
    0%{
        transform: rotate(0deg);
    }
    2%{
        transform: rotate(50deg);
    }
    4%{
        transform: rotate(-50deg);
    }
    6%{
        transform: rotate(48deg);
    }
    8%{
        transform: rotate(-48deg);
    }
    10%{
        transform: rotate(46deg);
    }
    12%{
        transform: rotate(-46deg);
    }
    14%{
        transform: rotate(44deg);
    }
    16%{
        transform: rotate(-44deg);
    }
    18%{
        transform: rotate(42deg);
    }
    20%{
        transform: rotate(-42deg);
    }
    22%{
        transform: rotate(40deg);
    }
    24%{
        transform: rotate(-40deg);
    }
    26%{
        transform: rotate(38deg);
    }
    28%{
        transform: rotate(-38deg);
    }
    30%{
        transform: rotate(36deg);
    }
    32%{
        transform: rotate(-36deg);
    }
    34%{
        transform: rotate(34deg);
    }
    36%{
        transform: rotate(-34deg);
    }
    38%{
        transform: rotate(32deg);
    }
    40%{
        transform: rotate(-32deg);
    }
    42%{
        transform: rotate(30deg);
    }
    44%{
        transform: rotate(-30deg);
    }
    46%{
        transform: rotate(28deg);
    }
    48%{
        transform: rotate(-28deg);
    }
    50%{
        transform: rotate(26deg);
    }
    52%{
        transform: rotate(-26deg);
    }
    54%{
        transform: rotate(24deg);
    }
    56%{
        transform: rotate(-24deg);
    }
    58%{
        transform: rotate(22deg);
    }
    60%{
        transform: rotate(-22deg);
    }
    62%{
        transform: rotate(20deg);
    }
    64%{
        transform: rotate(-20deg);
    }
    66%{
        transform: rotate(18deg);
    }
    68%{
        transform: rotate(-18deg);
    }
    70%{
        transform: rotate(16deg);
    }
    72%{
        transform: rotate(-16deg);
    }
    74%{
        transform: rotate(14deg);
    }
    76%{
        transform: rotate(-14deg);
    }
    78%{
        transform: rotate(12deg);
    }
    80%{
        transform: rotate(-12deg);
    }
    82%{
        transform: rotate(10deg);
    }
    84%{
        transform: rotate(-10deg);
    }
    86%{
        transform: rotate(8deg);
    }
    88%{
        transform: rotate(-8deg);
    }
    90%{
        transform: rotate(6deg);
    }
    92%{
        transform: rotate(-6deg);
    }
    94%{
        transform: rotate(4deg);
    }
    96%{
        transform: rotate(-4deg);
    }
    98%{
        transform: rotate(2deg);
    }
    100%{
        transform: rotate(-2deg);
    }
}