.days-76{
    background-color: #34495E;
    .contentD76{
        padding: 10px;
        input{
            padding: 15px;
            box-shadow: 0px 0px 10px 0px #24313d;
            outline: none;
            border: none;
            text-align: center;
        }
    }
}