.days-81{
    box-shadow: 0 0 10px 0 #0000003f;
    overflow: hidden;
    .contentD81{
        width: 300px;
        height: 300px;
        position: relative;
        .topD81{
            width: 100%;
            height: 70%;
            background-color: #9656d1;
            .ballD81{
                width: 40px;
                height: 40px;
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
                animation: ballD81 4s linear infinite;
                .bluerD81{
                    width: 40px;
                    height: 40px;
                    background-color: #ffffffbd;
                    border-radius: 50%;
                    position: absolute;
                }
                @for $i from 1 through 4{
                    .bluerD81-#{$i}{
                        opacity: 1 - ($i * 0.4);
                        
                        filter: blur(1px);
                        animation: bluerD81-#{$i} 4s ease-in-out infinite;
                    }
                }
            }
        } 
        .footerD81{
            width: 100%;
            height: 30%;
            background-color: #39525c;
        }
    }
}
@keyframes ballD81 {
    0%{
        transform: translate(350px, 40px) scaleY(1);
    }
    15%{
        transform: translate(290px, 50px) scaleY(1);
    }
    29%{
        transform: translate(201px, 169px) scaleY(1);
    }
    30%{
        transform: translate(200px, 170px) scaleY(0.8);
    }
    31%{
        transform: translate(199px, 169px) scaleY(1);
    }
    45%{
        transform: translate(140px, 105px) scaleY(1);
    }
    59%{
        transform: translate(66px, 169px) scaleY(1);
    }
    60%{
        transform: translate(65px, 170px) scaleY(0.8);
    }
    61%{
        transform: translate(64px, 169px) scaleY(1);
    }
    75%{
        transform: translate(30px, 130px) scaleY(1);  
    }
    89%{
        transform: translate(-11px, 169px) scaleY(1);
    }
    90%{
        transform: translate(-10px, 170px) scaleY(0.8);
    }
    91%{
        transform: translate(-9px, 169px) scaleY(1);
    }
    100%{
        transform: translate(-50px, 150px) scaleY(1);
    }
}
@for $i from 1 through 4{
    @keyframes bluerD81-#{$i} {
        0%{
            transform: translateY(-$i * 4px) translateX($i * 4px) 
            rotateY(22.5deg) rotateX(22.5deg) rotate(45deg);
        }
        28%, 58%, 88%{
            transform: translateY(-$i * 4px) translateX($i * 4px) 
            rotateY(22.5deg) rotateX(22.5deg) rotate(45deg);
        }
        29%, 59%, 89%{
            transform: translateY($i * 1px) translateX($i * 1px) 
            rotateY(0deg) rotateX(0deg);
        }
        35%, 65%, 100%{
            transform: translateY($i * 4px) translateX($i * 2px);
        }
        44%, 74%{
            transform: translateY($i * 1px) translateX($i * 1px);
        }
        45%, 75%{
            transform: translateY($i * 1px) translateX($i * 1px) 
            rotateY(0deg) rotateX(0deg);
        }
        46%, 76%{
            transform: translateY(-$i * 4px) translateX($i * 4px) 
            rotateY(22.5deg) rotateX(22.5deg) rotate(45deg);
        }
    }  
}