@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Rubik:ital,wght@1,400;1,500;1,700&display=swap');
:root{
  /*color texto*/
  --violeta-palido:hsla(276, 100%, 81%, 0.206);
  --violeta-moderado:hsl(276, 55%, 52%);
  --violeta-oscuro: hsl(271, 15%, 43%);
  --azul-grisáceo: hsl(206, 6%, 79%);
  --violeta-muy-oscuro: hsl(271, 36%, 24%);
  --violeta-grisáceo:hsl(270, 7%, 64%);
  /*degradados*/
  --magenta-claro:hsl(293, 100%, 63%);
  --violeta-claro:hsl(264, 100%, 61%);
  /*secondary*/
  --while:hsl(0, 0%, 100%);
  --app-background:hsl(270, 20%, 96%);
  --button-background:hsl(271, 36%, 24%);
  --radio-button:hsl(289, 100%, 72%);
  /*font-family*/
  --font-size:16px;
  --family:'Rubik', sans-serif;
  /*400, 500, 700*/
}
*, ::after, ::before{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  user-select: none;
}
.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body{
  background-color: var(--app-background);
  width: 390px;
}
body::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 60%;
  left: -50%;
  border-radius: 0 0 50% 0;
  background:linear-gradient(to top,
  var(--violeta-claro) 0%, var(--magenta-claro)100%);
  
}
section{
  display: flex;
  flex-direction: column;
  align-items:center; 
}
.app{
  position: relative;
  background-color: var(--while);
  width:300px; 
  padding: 10px;
  border-radius: 30px;
  margin: 50px auto;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.308);
}
.app-inside{
  background-color: var(--app-background);
  border-radius: 20px;
  overflow: hidden;
}  
.app-inside .header{
  background: linear-gradient(to left,
  var(--magenta-claro) 0%, var(--violeta-claro) 100%);
  border-radius: 20px 20px 5px 5px;
}
.app .app-inside .header img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 1px var(--while);
}
.flecha-avatar{
  width: 9px;
  height: 9px;
  transform:rotate(45deg);
  transform-style: preserve-3d;
  border-top: solid 2px transparent;
  border-bottom: solid 2px white;
  border-left: solid 2px white;
  border-right: solid 2px transparent;
}
.app .app-inside .header .content-info{
  padding: 30px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app .app-inside .header .content-info .img-flecha{
  display: flex;
  align-items: center;
  gap: 5px;
}
.app .app-inside .header .content-info .info-avatar {
  width: 70%;
  color: var(--while);
}
.app .app-inside .header .content-info .info-avatar .name{
  font-size: 1.2rem;
}
.app .app-inside .header .content-info .info-avatar .subtitle{
  font-size: 12px;
}
.app .app-inside .header::before{
  position: absolute;
  content: "";
  width: 150px;
  height: 20px;
  background-color: var(--while);
  left: 75px;
  border-radius: 0 0 50px 50px;
}
.app .app-inside .header .content-info .material-icons{
  color: white;
}
.app .app-inside .app-content{
  padding: 10px;
}
.app .app-inside .app-content .bubble-left{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.app .app-inside .app-content .bubble-right{
  width: 60%;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin:10px 0px 10px 40% ;
}
.bubble{
  background-color: var(--violeta-palido);
  font-size: 10px;
  border-radius: 15px 15px 15px 4px;
  padding: 10px;
}
.app .app-inside .app-content .bubble-right .bubble{
  border-radius: 15px 15px 4px 15px;
  background-color: var(--while);
  color: var(--violeta-muy-oscuro);
  box-shadow: 0px 0px 10px var(--azul-grisáceo);
  margin-right: -10px;
}
.app .app-inside .app-content .bubble-right .conten-img img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--azul-grisáceo);
}
.app .app-inside .app-content .bubble-right .conten-img{
  display: flex;
  gap: 5px;
}
.app .app-inside .app-content .bubble-right .bubble.corta{
  width: 65%;
  position: relative;
  left: 40%;
}
.app .app-inside .app-content .conten-price{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0px 20px 10px;
}
.app .app-inside .app-content .conten-price .file{
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  background: linear-gradient(to left, 
  var(--violeta-claro) 0%, var(--magenta-claro) 100%);
  padding:10px;
  border-radius: 10px 10px 10px 4px;
  color: var(--while);
}
.app .app-inside .app-content .conten-price .file .input{
  border: solid 1px var(--while);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .app-inside .app-content .conten-price .file .input input{
  display: none;
}
.app .app-inside .app-content .conten-price .file .input .div{
  width: 10px;
  height: 10px;
  background-color: var(--azul-grisáceo);
  border-radius: 50%;
  transform: scale(0);
  position:absolute;
}
.app .app-inside .app-content .conten-price .file input:checked ~ .div{
  transform: scale(1);
}
.app .app-inside .app-content .conten-price .text{
  font-size: 10px;
  width: 130px;
  text-align: left;
}
.app .app-inside .app-content .conten-price .price{
  display: flex;
  font-weight: 700;
  gap: 5px;
}
.app .app-inside .app-content button{
  background-color: var(--while);
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  border: none;
  box-shadow: 0 0 10px rgba(158, 158, 158, 0.391);
}
.app .app-inside .app-content button input{
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  color: var(--azul-grisáceo);
}
input::placeholder{
  color: var(--azul-grisáceo);
}
.app .app-inside .app-content button .circle{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: var(--button-background);
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .app-inside .app-content button .circle .flecha{
  width: 10px;
  height: 10px;
  transform:rotate(45deg);
  border-top: solid 3px white;
  border-right: solid 3px white;
  border-bottom: solid 3px transparent;
  border-left: solid 3px transparent;
  position: relative;
  left: -2px;
}
h1{
  font-size: 40px;
  font-weight: 700;
  color: var(--button-background);
}
p.body{
  line-height: 30px;
  font-size: 1.2rem;
  color: var(--violeta-grisáceo);
  margin-bottom: 10px;
}
section .info-conten{
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  padding: 0px 30px;
}
@media (min-width: 500px) {
  body{
    width: 100vw;
    height: 100vh;
  }
  section{
    display: grid;
    grid-template-areas: 
    "a a "  ;
    /* gap:40px; */

  }
  .app{
    /* left: 35%; */
    /* top: 30px; */
  }
  .info-conten{
    width: 500px;
    position: relative;
    left: 15%;
  }
  body::before{
    width: 500px;
    left: -10%;
    border-radius: 0% 0% 50% 50%;
    height: 700px;
  }
  .attribution{
    margin-top: 150px;
  }
}