.days-21 {
  background-color: #2c2e2e;
  overflow: hidden;
  position: relative;
}
.days-21 .pacman {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 100px;
  fill: none;
  stroke: #f4d146;
  stroke-linecap: butt;
  stroke-width: 50px;
  stroke-dasharray: 157;
  animation: pacman 0.7s ease-in-out infinite;
}
.days-21 .eye-pacman {
  position: absolute;
  width: 12px;
  height: 12px;
  transform: translate3d(10px, -25px, 0);
  fill: none;
  stroke: #2c2e2e;
  stroke-width: 4;
  border-radius: 50%;
  stroke-linecap: round;
  animation: eyePacman 0.7s ease-in-out infinite;
}
.days-21 .line-pacman {
  position: absolute;
  fill: none;
  width: 240px;
  height: 15px;
  stroke: #f4d146;
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate3d(100px, 0px, 0px);
  stroke-dasharray: 0 50;
  animation: linePacman 2.8s linear infinite;
}

@keyframes pacman {
  0% {
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }
  50% {
    stroke-dashoffset: 39.25;
    transform: rotate(45deg);
  }
  100% {
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }
}
@keyframes eyePacman {
  0% {
    transform: translate3d(10px, -25px, 0);
  }
  50% {
    transform: translate3d(0px, -30px, 0);
  }
  100% {
    transform: translate3d(10px, -25px, 0);
  }
}
@keyframes linePacman {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 200;
  }
}
.days-22 {
  background-color: #123641;
  flex-direction: column;
  color: #fff;
}
.days-22 h1 {
  font-weight: lighter;
  font-size: 15px;
}
.days-22 span.title {
  font-size: 1.5rem;
  font-weight: bolder;
}
.days-22 .content-svg {
  width: 100%;
  height: 70%;
  position: relative;
  bottom: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.days-22 .content-svg .kcal {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 100px;
  top: -10px;
  transform: rotate(268deg);
  background-color: #1b2a33;
  border-radius: 50%;
}
.days-22 .content-svg .kcal svg circle {
  fill: none;
  stroke: #23e4aa;
  stroke-width: 10px;
  stroke-linecap: round;
  animation: days22-kcal 2s ease-in-out forwards;
}
.days-22 .content-svg .kcal .inner-days22 {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  left: 10px;
  top: 10px;
  transform: rotate(-268deg);
  background-color: #123641;
}
.days-22 .content-svg .kcal .inner-days22 .num {
  font-size: 1.5rem;
  font-weight: bolder;
}
.days-22 .content-svg .kcal .inner-days22 .title {
  color: #6d7272;
  font-size: 15px;
}
.days-22 .content-svg .steps, .days-22 .content-svg .km {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 100px;
  left: 30px;
  background-color: #1b2a33;
  border-radius: 50%;
  transform: rotate(270deg);
}
.days-22 .content-svg .steps svg circle, .days-22 .content-svg .km svg circle {
  fill: none;
  stroke: #23e4aa;
  stroke-width: 5px;
  stroke-linecap: round;
  animation: days22-steps 2s ease-in-out forwards;
}
.days-22 .content-svg .steps .inner-days22, .days-22 .content-svg .km .inner-days22 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #123641;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  transform: rotate(-270deg);
}
.days-22 .content-svg .steps .inner-days22 .num, .days-22 .content-svg .km .inner-days22 .num {
  font-weight: bolder;
  font-size: 1.5rem;
}
.days-22 .content-svg .steps .inner-days22 .title, .days-22 .content-svg .km .inner-days22 .title {
  color: #6d7272;
  font-size: 15px;
}
.days-22 .content-svg .km {
  left: 190px;
}
.days-22 .content-svg .km svg circle {
  animation: days22-km 2s ease-in-out forwards;
}

@keyframes days22-km {
  0% {
    stroke-dashoffset: 360;
    stroke-dasharray: 350;
  }
  100% {
    stroke-dashoffset: 250;
    stroke-dasharray: 350;
  }
}
@keyframes days22-steps {
  0% {
    stroke-dashoffset: 250;
    stroke-dasharray: 250;
  }
  100% {
    stroke-dashoffset: 250;
    stroke-dasharray: 410;
  }
}
@keyframes days22-kcal {
  0% {
    stroke-dashoffset: 360;
    stroke-dasharray: 360;
  }
  100% {
    stroke-dashoffset: 360;
    stroke-dasharray: 620;
  }
}
.days-23 {
  overflow: hidden;
}
.days-23 svg {
  background-color: #e16d6c;
}
.days-23 svg .textSvg1 {
  fill: #fff;
  font-size: 25px;
  opacity: 0;
  animation: textsvg1 0.5s ease-in-out 2.5s forwards;
}
.days-23 svg .textSvg2 {
  fill: #fff;
  transform: scale(0);
  font-size: 40px;
  transform-origin: 150px;
  animation: textsvg2 0.6s ease-in-out 2.1s forwards;
}
.days-23 svg .textSvg3 {
  fill: #fff;
  font-size: 25px;
  opacity: 0;
  animation: textsvg3 0.5s ease-in-out 2.5s forwards;
}
.days-23 svg .polyline {
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  animation: polyline 1s ease-in-out 1.6s forwards;
}
.days-23 svg .line {
  animation: linesvg 1s ease-in-out 1s forwards;
  stroke-dashoffset: 250;
  stroke-dasharray: 250;
}
.days-23 svg .circlesvg {
  transform-origin: 150px;
  animation: circlesvg 1s ease-in-out forwards;
}

@keyframes textsvg1 {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes textsvg2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes textsvg3 {
  0% {
    transform: translateX(80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes polyline {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 200;
  }
}
@keyframes linesvg {
  0% {
    stroke-dashoffset: 250;
    stroke-dasharray: 250;
  }
  50% {
    stroke-dashoffset: 500;
    stroke-dasharray: 250;
  }
  100% {
    stroke-dashoffset: 750;
    stroke-dasharray: 250;
  }
}
@keyframes circlesvg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}
.days-24 {
  background-color: #57d895;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}
.days-24 input {
  position: absolute;
  display: none;
}
.days-24 .buttonD24 {
  position: absolute;
  border: solid 2px #fff;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  letter-spacing: 5px;
  z-index: 10;
}
.days-24 .buttonD24 iconify-icon {
  opacity: 0;
  display: flex;
  color: #57d895;
  position: absolute;
  background-color: white;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.days-24 .circleD24 {
  position: absolute;
  width: 50px;
  height: 50px;
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 183;
  stroke-dashoffset: 183;
  transform: rotate(-90deg);
}
.days-24 input[type=checkbox]:checked ~ .buttonD24 {
  animation: buttond24 2s ease-in-out both;
}
.days-24 input[type=checkbox]:checked ~ .buttonD24 iconify-icon {
  animation: imgd24 2s ease-in-out 1.3s both;
}
.days-24 input[type=checkbox]:checked ~ .circleD24 {
  animation: circled24 2s ease-in-out 2s both;
}

@keyframes buttond24 {
  0% {
    width: 200px;
    height: 50px;
  }
  50% {
    color: transparent;
  }
  100% {
    width: 50px;
    height: 50px;
    border-color: #45B078;
    color: transparent;
    background-color: transparent;
  }
}
@keyframes circled24 {
  0% {
    stroke-dashoffset: 183;
    z-index: 11;
    transform: rotate(-90deg);
  }
  50% {
    stroke-dashoffset: 0;
    stroke-dasharray: 183;
    transform: scale(1) rotate(-90deg);
    opacity: 1;
  }
  90% {
    stroke-dasharray: 400;
    transform: scale(2);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 400;
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes imgd24 {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.d25 {
  background-color: red;
}

.days-25 {
  background-color: #2196f3;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  perspective: 1000px;
}
.days-25 .inputD25 {
  position: absolute;
  opacity: 0;
  transform: rotateY(0deg);
  transition: transform ease-in-out;
}
.days-25 .inputD25[type=checkbox]:checked ~ .ubi svg {
  animation: rotateSvgD25 2s ease-in-out forwards;
}
.days-25 .inputD25[type=checkbox]:checked ~ .ubi .contentD25 {
  animation: rotateContentD25 2s ease-in-out forwards;
}
.days-25 .backgroundD25 {
  width: 100%;
  height: 100%;
  position: absolute;
}
.days-25 .backgroundD25 svg {
  width: 300px;
  height: 300px;
  fill: #1f8de4;
}
.days-25 .ubi {
  transform-style: preserve-3d;
  width: 48px;
  height: 72px;
  position: absolute;
  z-index: 10;
}
.days-25 .ubi svg {
  position: absolute;
  width: 48px;
  height: 72px;
  fill: #f4d146;
  z-index: 20;
  animation: svgUbiD25 2s ease-in-out infinite;
}
.days-25 .ubi .contentD25 {
  transform-style: preserve-3d;
  position: absolute;
  width: 200px;
  height: 150px;
  left: -75px;
  top: -40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0;
}
.days-25 .ubi .contentD25 .headD25 {
  width: 100%;
  height: 50px;
  background-color: #2196f3;
}
.days-25 .ubi .contentD25 .bodyD25 {
  width: 100%;
  margin: 15px auto;
  text-align: center;
  transform: rotateY(180deg);
}
.days-25 .ubi .contentD25 .bodyD25 span {
  color: #505050;
  font-weight: bolder;
}
.days-25 .ubi .contentD25 .bodyD25 p {
  font-size: 14px;
  color: #6d7272;
}
.days-25 .ubi .contentD25 .actionD25 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.days-25 .ubi .contentD25 .actionD25 button {
  background-color: transparent;
  border: none;
  width: 50%;
  color: #2196f3;
  font-size: 12px;
  transform: rotateY(180deg);
}
.days-25 .ubi .contentD25 .actionD25::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 18px;
  bottom: 5px;
  left: 50%;
  background-color: #45B078;
}
.days-25 .ubi .sombra-ubi {
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: rgba(46, 48, 49, 0.231372549);
  border-radius: 50%;
  top: 195px;
  z-index: 20;
  animation: svgSombraD25 2s ease-in-out infinite;
}

@keyframes svgUbiD25 {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes svgSombraD25 {
  0% {
    width: 15px;
    height: 4px;
  }
  50% {
    width: 20px;
    height: 5px;
  }
  100% {
    width: 15px;
    height: 4px;
  }
}
@keyframes rotateSvgD25 {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  80% {
    transform: rotateY(-180deg);
  }
  100% {
    opacity: 0;
    transform: rotateY(0deg);
  }
}
@keyframes rotateContentD25 {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotateY(-180deg);
  }
}
.days-26 {
  background-color: #c7d6e1;
}
.days-26 .carD26 {
  background-color: #fff;
  width: 220px;
  height: 150px;
  position: absolute;
  transform: scale(0.5);
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.days-26 .carD26 .numD26 {
  width: 50px;
  height: 50px;
  background-color: #616e7d;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg) translateX(0px) translateY(-35px);
}
.days-26 .carD26 .numD26 .num {
  position: absolute;
  color: #fff;
  bottom: 2.5px;
  left: 22.5px;
  transform: rotate(-45deg);
  font-size: 12px;
  font-weight: bolder;
}
.days-26 .carD26 .titleD26 {
  color: #616e7d;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  top: 25px;
  left: 20px;
  width: 80%;
  text-align: center;
}
.days-26 .carD26 .bodyD26 {
  font-size: 14px;
  color: #616e7d;
  position: absolute;
  top: 40%;
  left: 10px;
  text-align: center;
  width: 90%;
}
.days-26 .carD26 .action-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4babfa;
  text-align: center;
}
.days-26 .carD26 .action-btn button {
  padding: 10px;
  border: none;
  width: 100%;
  background-color: transparent;
  color: #fff;
  transition: all 0.8s ease-in-out;
}
.days-26 .carD26 .action-btn button:hover {
  background-color: #1f8de4;
}
.days-26 .carD26.active {
  pointer-events: all;
  z-index: 1;
  animation: fadeIn 0.6s ease-in-out both 0.5s;
}
.days-26 .carD26.inactive {
  z-index: 2;
  animation: fadeOut 0.5s ease-in-out both;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.15);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.days-27 {
  background: linear-gradient(to left bottom, #f5be48 0%, #ffb107 100%);
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}
.days-27 .form {
  width: 200px;
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}
.days-27 .form .dateD27 {
  text-align: center;
  color: #616e7d;
}
.days-27 .form .lineD27 {
  width: 90%;
  height: 1px;
  background-color: #bcbfc2;
}
.days-27 .form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  position: relative;
}
.days-27 .form ul li {
  width: 100%;
  display: flex;
  align-items: center;
  color: #616e7d;
}
.days-27 .form ul li label {
  width: 100%;
  font-size: 14px;
  font-weight: bolder;
}
.days-27 .form ul li input[type=checkbox] {
  display: none;
}
.days-27 .form ul li input[type=checkbox]:checked ~ .radioBtnD27 {
  transform: scale(1.4);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.days-27 .form ul li input[type=checkbox]:checked ~ svg polyline {
  stroke-dashoffset: 0;
  transition: all 0.5s ease-in-out 0.5s;
}
.days-27 .form ul li input[type=checkbox]:checked ~ .textD27 {
  color: rgba(188, 190, 192, 0.6431372549);
}
.days-27 .form ul li .radioBtnD27 {
  width: 15px;
  height: 15px;
  border: solid 1px #616e7d;
  border-radius: 50%;
  z-index: 1;
  transform: scale(1);
  transition: all 0.5s ease-in-out 0.5s;
}
.days-27 .form ul li svg {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
}
.days-27 .form ul li svg polyline {
  fill: none;
  stroke: rgba(188, 190, 192, 0.6431372549);
  stroke-width: 2px;
  stroke-dasharray: 20 20;
  stroke-dashoffset: 20;
  transition: all 0.5s ease-in-out;
}

.days-28 {
  background-color: #ee5f66;
}
.days-28 .notiD28 {
  width: 50px;
  height: 50px;
  position: absolute;
  transform-origin: 50% 5px;
  animation: rotateD28 2s ease infinite;
}
.days-28 .linesD28-1, .days-28 .linesD28-3, .days-28 .linesD28-2 {
  position: absolute;
  animation: lineD28Left 2s ease-in-out infinite;
}
.days-28 .linesD28-2 {
  animation-delay: 0.4s;
}
.days-28 .linesD28-3 {
  animation-delay: 0.8s;
}
.days-28 .linesD28-4, .days-28 .linesD28-6, .days-28 .linesD28-5 {
  position: absolute;
  animation: lineD28Right 2s ease-in-out infinite;
}
.days-28 .linesD28-5 {
  animation-delay: 0.4s;
}
.days-28 .linesD28-6 {
  animation-delay: 0.8s;
}

@keyframes rotateD28 {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  5% {
    transform: rotate(20deg) translateX(2px);
  }
  10% {
    transform: rotate(-20deg) translateX(-2px);
  }
  15% {
    transform: rotate(20deg) translateX(2px);
  }
  20% {
    transform: rotate(-20deg) translateX(-2px);
  }
  25% {
    transform: rotate(20deg) translateX(2px);
  }
  30% {
    transform: rotate(-20deg) translateX(-2px);
  }
  35% {
    transform: rotate(20deg) translateX(2px);
  }
  40% {
    transform: rotate(-20deg) translateX(-2px);
  }
  45% {
    transform: rotate(20deg) translateX(2px);
  }
  50% {
    transform: rotate(0deg) translateX(0px);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes lineD28Left {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  9% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    height: 20%;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
    transform: translateX(-40px);
  }
  52% {
    opacity: 0;
  }
  90% {
    height: 50%;
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineD28Right {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  9% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    height: 20%;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
    transform: translateX(40px);
  }
  52% {
    opacity: 0;
  }
  90% {
    height: 50%;
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
  }
}
.days-29 {
  background-color: #40a2f1;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}
.days-29 .inputContainerD29 {
  background-color: #fff;
  width: 230px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}
.days-29 .inputContainerD29 input[type=text] {
  padding: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #40a2f1;
}
.days-29 .inputContainerD29 input[type=text]::placeholder {
  color: #a0bed6;
  font-weight: bolder;
}
.days-29 .inputContainerD29 iconify-icon {
  color: #2196f3;
}
.days-29 .listD29 {
  height: 110px;
  width: 230px;
  background-color: #fff;
  position: absolute;
  top: 270px;
  padding: 10px 15px;
  border-top: solid 1px #40a2f1;
  display: none;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  color: #818486;
  box-shadow: 1px 7px 10px 0px rgba(0, 0, 0, 0.123);
}
.days-29 .listD29 .liD29 {
  cursor: pointer;
}
.days-29 .listD29 .liD29:hover {
  color: #4babfa;
}
.days-29 .showListD29 {
  display: flex;
}

.days-30 {
  background-color: #0baa95;
}
.days-30 svg .lineD30 {
  stroke: #fff;
  animation: lineD30 4s ease-in-out infinite;
}
.days-30 svg .circleD30 {
  stroke: #fff;
  stroke-width: 1px;
  transform: scale(0.5);
  transform-origin: 150px;
  animation: circleD30 4s ease-in-out infinite;
}

@keyframes lineD30 {
  0% {
    stroke-dashoffset: 780;
    stroke-dasharray: 50 660;
  }
  100% {
    stroke-dashoffset: 70;
    stroke-dasharray: 50 660;
  }
}
@keyframes circleD30 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  56% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
.svg-practica {
  width: 500px;
  height: 1000px;
  background-color: #999e9c;
}
.svg-practica svg {
  stroke-width: 5px;
  stroke-dashoffset: 0;
  stroke-dasharray: 400;
}

@keyframes strokeSvg {
  0% {
    stroke-dashoffset: 800;
    stroke-dasharray: 200;
    fill: white;
  }
  10% {
    transform: rotateY(0deg);
  }
  20% {
    fill: none;
  }
  50% {
    stroke-dashoffset: 0;
    fill: deepskyblue;
  }
  90% {
    transform: rotateY(180deg);
  }
  100% {
    stroke-dashoffset: -800;
    stroke-dasharray: 200;
    fill: yellow;
  }
}

/*# sourceMappingURL=scss.css.map */
