@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Mynerve&family=Outfit:wght@400;700&family=Pacifico&family=Shantell+Sans:wght@300&family=Smokum&family=Zeyada&display=swap');
*, ::after, ::before{
    margin: 0%;
    padding: 0%;
    user-select: none;
    box-sizing: border-box;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
body{
    width: 390px;
    height: 100%;
    background-color:   hsl(212, 45%, 89%);
}
.container{
    width: 340px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin: 100px auto 170px;
    border-radius: 15px;
}
.container img{
    width: 100%;
    border-radius: 10px;
    height: 95%;
}
.container p{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
}
.container p:last-child{
    font-weight: 400;
    color:  hsl(212, 5%, 50%);
    font-size: 15px;
}

/*width 844 (1440)*/
@media (min-width: 390px) {
    body{
        width: 100%;
    }
}
@media (min-width: 844px) {
    body{
        width: 100%;
        height: 100%;
    }
    .container{
        width: 25%;
        margin: 34px auto;
        gap: 5px;
    }
    .container p{
        font-size: 1rem;
    }
    .container p:last-child{
        font-size: 0.7rem;
    }
}